/* SlideNav
================================================== */
// Mobile, iPhone and skinny
@media only screen and (max-width: 500px), only screen and (max-device-width: 500px) {
	.vco-slidenav-previous, .vco-slidenav-next {
		
	}
} 

/* NAVIGATION
================================================== */
.vco-slidenav-previous, .vco-slidenav-next {
	position:absolute;
	top: 45%;
	z-index:10;
	cursor:pointer;
	
	.vco-slidenav-content-container {
		height:200px;
		width:200px;
		position:absolute;
	}
	.vco-slidenav-title, .vco-slidenav-description {
		width:100px;
		
		.opacity(15);
		a {
			
		}
		small {
			
		}
	}
	.vco-slidenav-title {
		margin-top:10px;
		font-size: @base-font-size;
		line-height: @base-font-size;
		//font-weight: bold;
	}
	.vco-slidenav-description {
		font-size: @base-font-size-small;
	}
	
}

/* NAVIGATION COLOR
================================================== */
.vco-slidenav-previous, .vco-slidenav-next {
	.vco-slidenav-content-container {
		.vco-slidenav-icon, .vco-slidenav-title, .vco-slidenav-description {
			text-shadow: 1px 1px 1px #FFF;
			color: #333;
		}
	}
	.vco-slidenav-content-container.vco-slidenav-inverted {
		.vco-slidenav-icon, .vco-slidenav-title, .vco-slidenav-description {
			color:#FFF;
			text-shadow: 1px 1px 1px #000;
		}
	}
}

/* ICONS
================================================== */
.vco-slidenav-next, .vco-slidenav-previous {
	.vco-slidenav-icon {
		font-family: 'vco-icons';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size:32px;
		margin-bottom: 5px;
	}
}

.vco-slidenav-next {
	text-align: right;
	margin-right:10px;
	right:200px;
	.vco-slidenav-icon {
		margin-left: 200 - 24px;
	}
	.vco-slidenav-icon:before {
		content: "\e64f";
	}
	.vco-slidenav-title, .vco-slidenav-description {
		margin-left: 100px;
	}
}
.vco-slidenav-previous {
	text-align: left;
	margin-left:10px;
	.vco-slidenav-icon {
		margin-left: 0px;
	}
	.vco-slidenav-icon:before {
		content: "\e650";
	}
}



/* NAVIGATION HOVER
================================================== */
.vco-slidenav-previous:hover, .vco-slidenav-next:hover {
	.vco-slidenav-title, .vco-slidenav-description {
		.opacity(100);
	}
}
.vco-slidenav-next:hover {
	.vco-slidenav-icon {
		margin-left: 200 - 20px;
	}
}
.vco-slidenav-previous:hover {
	.vco-slidenav-icon {
		margin-left: -4px;
	}
}