/* SlideNav
================================================== */
// Mobile, iPhone and skinny
@media only screen and (max-width: 500px), only screen and (max-device-width: 500px) {
	.vco-slidenav-previous, .vco-slidenav-next {
		
	}
} 

/* NAVIGATION
================================================== */
.vco-slidenav-previous, .vco-slidenav-next {
	position:absolute;
	top: 45%;
	z-index:10;
	cursor:pointer;
	//width: @feature-nav-width; 
	color: #DBDBDB;
	//font-size:@base-font-small;
	.vco-slidenav-content-container {
		height:100px;
		width:200px;
		position:absolute;
	}
	.vco-icon {
		
	}
	.vco-date, .vco-title {
		a {
			
		}
		small {
			
		}
	}
	.vco-date {
		
	}
	.vco-title {
		
	}
}
.vco-slidenav-next {
	//float: right;
	text-align: right;
	right:200px;
}
.vco-slidenav-previous {
	//float: left;
	text-align: left;
}

