<!DOCTYPE html>
<html>
<head>
    <title>{%block basic_title %}{% endblock %} - StoryMapJS - Northwestern University KnightLab</title>
    <style>
    html, body, iframe {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }   
    </style>
{% include "_analytics.html" %}
</head>
<body>
    <iframe src="http://cdn.knightlab.com/libs/storymapjs/latest/embed/?url={%block json_url %}{% endblock %}" frameborder="0" width="100%" height="800"></iframe>
</body>
</html>
