*.pyc

# Ignore the build directory

# Ignore the old source code as it is ported
/source/CORE_OLD

# Other
.DS_Store
codekit-config.json
.bugs.done

build
robot_tests/logs
s3analysis/mirror
s3analysis/*csv

env.sh
local_only.key
local_only.crt

static/local/*
!static/local/.gitkeep 
