version: '2.1'

services:

  app:
    restart: always
    build: .
    ports:
      - "443:5000"
    links:
      - pg:pg
      - localstack:localstack
    volumes:
      - ./storymap:/usr/src/apps/StoryMapJS/storymap
      - ./dist:/usr/src/apps/StoryMapJS/dist
      - ./compiled:/usr/src/apps/StoryMapJS/compiled
    working_dir: /usr/src/apps/StoryMapJS
    environment:
      DEBUG: 'true'
      PYTHONPATH: .
      AWS_ACCESS_KEY_ID: xyz
      AWS_DEFAULT_REGION: xyz
      AWS_SECRET_ACCESS_KEY: xyz
      REDIS_HOST: redis
      RABBITMQ_HOST: rabbitmq
    env_file: .env
    command: gunicorn -b :5000 --workers 1 --reload --log-level debug storymap.core.wsgi:application --keyfile KnightLabRootCA.key --certfile KnightLabRootCA.crt
    depends_on:
      - pg
      - localstack

  localstack:
    container_name: "${LOCALSTACK_DOCKER_NAME-localstack_main}"
    image: localstack/localstack-light
    ports:
      - "4566:4566"
      - "4571:4571"
    environment:
      - LOCALSTACK_SERVICES=s3
      - LOCALSTACK_DATA_DIR=/tmp/localstack/data
    volumes:
      - ./.localstack/:/tmp/localstack

  pg:
    image: postgres:11.10
    restart: always
    environment:
      POSTGRES_USER: storymap
      POSTGRES_DB: storymap
      POSTGRES_PASSWORD: storymap
    ports:
      - "5432:5432"
    volumes:
      - ./.pgdata/:/var/lib/postgresql/data/

  huey:
    build:
      context: .
      dockerfile: celery.Dockerfile
    restart: always
    working_dir: /usr/src/apps/StoryMapJS
    volumes:
      - ./storymap:/usr/src/apps/StoryMapJS/storymap
    env_file: .env
    environment:
      PYTHONPATH: .
      AWS_ACCESS_KEY_ID: xyz
      AWS_DEFAULT_REGION: xyz
      AWS_SECRET_ACCESS_KEY: xyz
    command: huey_consumer.py --logfile=storymap/huey.log storymap.tasks.huey
    depends_on:
      - localstack

  #celery:
  #  build:
  #    context: .
  #    dockerfile: celery.Dockerfile
  #  restart: always
  #  working_dir: /usr/src/apps/StoryMapJS
  #  volumes:
  #    - ./storymap:/usr/src/apps/StoryMapJS/storymap
  #  env_file: .env
  #  environment:
  #    PYTHONPATH: .
  #    AWS_ACCESS_KEY_ID: xyz
  #    AWS_DEFAULT_REGION: xyz
  #    AWS_SECRET_ACCESS_KEY: xyz
  #    REDIS_HOST: redis
  #    RABBITMQ_HOST: rabbitmq
  #  command: celery -A storymap.tasks worker -l debug
  #  depends_on:
  #    - localstack
  #    - rabbitmq


  #redis:
  #  image: redis

  #rabbitmq:
  #  image: rabbitmq
  #  command: rabbitmq-server
