APPLICATION_DOMAINS=localhost
AWS_ENDPOINT_URL=https://localstack:4566
AWS_SSL_VERIFY=false
AWS_STORAGE_BUCKET_KEY=storymapjs
AWS_STORAGE_BUCKET_NAME=uploads.knilab.com
AWS_STORAGE_BUCKET_URL=//localhost:4566/uploads.knilab.com/
CDN_URL=https://localhost/compiled/
DB_ENGINE__DEFAULT=mongo
DB_HOST__DEFAULT=mongo
DB_NAME__DEFAULT=storymapjs
DB_PORT__DEFAULT=27017
FLASK_ENV=development
FLASK_SECRET_KEY=development
FLASK_SETTINGS_FILE=core/settings.py
FLASK_SETTINGS_MODULE=storymap.core.settings
STATIC_URL=/static/

ADMINS=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
MAPBOX_API_KEY=
STORYMAPJS_DIRECTORY=
