export CDN_URL="/build/"
export DB_HOST__DEFAULT="localhost"
export FLASK_SETTINGS_MODULE="core.settings"
export PROJECT_NAME="StoryMapJS"
export DB_NAME__DEFAULT="storymapjs"
export APPLICATION_DOMAINS="not used for local development"
export FLASK_SECRET_KEY="\xc2\xbd4\xe5UG7\x14\x7f@\xd5\xfa\x9a0\xd9m\xfc\x8b\xbcM\xb2\x1d\xc1e\x3c\xff"
export AWS_ENDPOINT_URL="http://localhost:4572"
export AWS_STORAGE_BUCKET_URL="//uploads.knilab.com/"
export AWS_STORAGE_BUCKET_NAME="uploads.knilab.com"
export AWS_STORAGE_BUCKET_KEY="storymapjs"
export STATIC_URL="/static/"
export DB_PORT__DEFAULT="27017"
export DB_ENGINE__DEFAULT="mongo"
export FLASK_SETTINGS_FILE="core/settings.py"
# Below are sensitive values which should not be in github.
export ADMINS="one or more space-separated Google user IDs who have access to admin features"
export AWS_SECRET_ACCESS_KEY="get this from a developer"
export AWS_ACCESS_KEY_ID="get this from a developer"
export GOOGLE_CLIENT_ID="get this from a developer"
export GOOGLE_CLIENT_SECRET="get this from a developer"
export FLASK_DEBUG=True
# Below are values that are used for local developement
export TEST_MODE=True
export LOCAL_DIRECTORY="FILL IN WITH PATH TO YOUR STORYMAPJS REPO DIRECTORY"
export AWS_MOCK_STORAGE_BUCKET_URL="http://localhost:5000"
export AWS_MOCK_STORAGE_BUCKET_NAME="localhost"
