/* Requires Variables.less
================================================== */
.vco-map {
	.vco-mapmarker, .vco-mapmarker-active {
		background-image: url(storymap.png?v1.1);
		background-repeat:no-repeat;
		background-position: 0 0;
		width: 30px !important;
		height: 41px !important;
		overflow:hidden;
		top:-34px;
		left: -10px;
		
		/*
		width:22px !important;
		height:22px !important;
		background-color: @map-marker-color;
		.box-shadow();
		*/
	}
	.vco-mapmarker {
		background-position: -30px 0;
	}
	.vco-mapmarker-active {
		background-position: 0 0;
	}
}



/* Mobile, iPhone and skinny
================================================== */
@media only screen and (max-width: 500px), only screen and (max-device-width: 500px) {
	.vco-map {
		.vco-mapmarker {
	
		}
	}
}

