!!! 5
html(lang="en")
	head
		title StoryMap Use Case Test
		meta(charset='utf-8')
		meta(name='description', content='TimelineJS Embed')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-touch-fullscreen', content='yes')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
		// CSS
		link(rel='stylesheet', href='../css/storymap.css?v1')
		//link(rel='stylesheet', href='../css/fonts/font.oldstandard.css?v1')
		//link(rel='stylesheet', href='../css/fonts/font.opensans-gentiumbook.css?v1')
		link(rel='stylesheet', href='../css/fonts/font.default.css?v1')
		//link(rel='stylesheet', href='../css/fonts/font.pt.css?v1')
		//link(rel='stylesheet', href='../css/fonts/font.lustria-lato.css?v1')
		//link(rel='stylesheet', href='../css/fonts/font.fjalla-average.css?v1')
		//link(rel='stylesheet', href='../css/fonts/font.dancing-ledger.css?v1')
		//link(rel='stylesheet', href='../css/fonts/font.bitter-raleway.css?v1')
		//link(rel='stylesheet', href='../css/fonts/font.rufina-sintony.css?v1')
		//link(rel='stylesheet', href='../css/fonts/font.abril-droidsans.css?v1')
		//link(rel='stylesheet', href='../css/fonts/font.amatic-andika.css?v1')
		//link(rel='stylesheet', href='../css/fonts/font.medula-lato.css?v1')
		//link(rel='stylesheet', href='../css/fonts/font.clicker-garamond.css?v1')
		
		
		//FONT
		//link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Bevan%7CPontano+Sans&amp;subset=latin,latin')
		
		// Style
		style
			html, body {
				
				width:100%;
				padding: 0px;
				margin: 0px;
				
			}
			.vco-storymap {
				margin-bottom:25px;
			}
			#storymap1 {
				width:600px;
				height:900px;
				border: 1px solid #999;
			}
			#storymap2 {
				width:100%;
				height:900px;
				border-top: 1px solid #999;
				border-bottom: 1px solid #999;
			}
			#storymap3 {
				width:520px;
				height:800px;
				border: 1px solid #999;
			}
			#storymap4 {
				width:1180px;
				height:600px;
				border: 1px solid #999;
			}
			#storymap5 {
				width:600px;
				height:800px;
				border: 1px solid #999;
			}
			#storymap6 {
				width:603px;
				height:800px;
				border: 1px solid #999;
			}
		// HTML5 shim, for IE6-8 support of HTML elements
		//if lt IE 9
			script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

	body

		div#storymap1
		div#storymap2
		div#storymap3
		div#storymap4
		div#storymap5
		div#storymap6
		div#storymap7
		div#storymap8
		div#storymap9
		div#storymap10
		// JavaScript
		script(src='../js/storymap-min.js')
		script
			var storymap1 = new VCO.StoryMap('storymap1', 'https://www.googledrive.com/host/0B1F_6uBEZHgEYUpWZXl4Vno2LVE/published.json');
			var storymap2 = new VCO.StoryMap('storymap2', 'https://www.googledrive.com/host/0BwJSxlUpQB4eaFgxcndncE5ibWc/published.json');
			var storymap3 = new VCO.StoryMap('storymap3', 'https://www.googledrive.com/host/0B32POWfs9QYmcmFrS2FWMUFJRkU/published.json');
			var storymap4 = new VCO.StoryMap('storymap4', 'https://www.googledrive.com/host/0B83Rz38sKDYld3hrTk1tZUxFM2s/published.json', {map_type:"stamen:terrain"});
			var storymap5 = new VCO.StoryMap('storymap5', 'https://www.googledrive.com/host/0B7q5Dm5OWa4aeEh0MDRxeXVPQ00/published.json');
			var storymap6 = new VCO.StoryMap('storymap6', 'https://www.googledrive.com/host/0B2SfwqaVAtupVF91RUZqNGhBMHM/published.json', {map_type:"stamen:terrain"});
			window.onresize = function(event) {
				storymap1.updateDisplay();
				storymap2.updateDisplay();
				storymap3.updateDisplay();
				storymap4.updateDisplay();
				storymap5.updateDisplay();
				storymap6.updateDisplay();
			}

