/*********** styles for storymap editor tool ***********/

html, body {width: 100%;height: 100%;padding: 0;margin: 0;}
body {font-size: 14px;min-width: 700px;}

div, ol, li {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

button.btn, .btn-group>.btn, .btn-group>.dropdown-menu, .btn-group>.popover {
    font-size: 14px;
}

.popover-title, .popover-content {font-size: 12px;}

label, select, textarea {font-size: 14px;}

input[type="text"]:not(#headline) {font-size: 14px;line-height: 18px;}

input[type="text"].stretch {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    margin-left: 0;
    margin-right: 0;
}

.add-on {font-size: 14px !important;}

ul { margin-bottom: 0;}
li { padding: 0; }

li.default {color: #aaa;padding-left: 6px;padding-right: 6px;}

.form-horizontal .control-group {margin-bottom: 12px;}

a.help {color: #333;margin-left: 6px;}
a.help:hover {text-decoration: none;}

.note {font-size: 0.8em;}
.ui-note {font: 13px Roboto, Arial, Sans-serif;}

/* MODALS
*/

.modal-backdrop {background-color: #666;}
.modal .error {color: #cc0000;font-style: italic;}

/*      in-modal progress panel 
*/
.modal-progress {
    position:absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #fff;
    opacity: 0.85;
    z-index: 1000;
}
.modal-progress > div {display: table;width: 100%;height: 100%;}
.modal-progress > div > div {display: table-cell;text-align: center;vertical-align: middle;}
.modal-progress i {margin-bottom: 10px;}


.modal-confirm {
    position:absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #fff;
    opacity: 0.85;
    z-index: 1001;
}
.modal-confirm > div {display: table;width: 100%;height: 100%;}
.modal-confirm > div > div {display: table-cell;text-align: center;vertical-align: middle;}
.modal-confirm button {margin-left: 8px;margin-right: 8px;}


/*      in-modal upload panel 
*/
.upload-panel {position:relative;}
.upload-panel input[type="file"] {
    position:absolute;
    z-index:2;
    top:0;
    left:0;
    filter: alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity:0;
    background-color:transparent;
    color:transparent;
    width: 146px;
}
.upload-conflict-rename {vertical-align: text-bottom;} 
.upload-conflict-rename input[type="radio"] {margin-top: 8px;}
.upload-conflict-rename input[type="text"] {margin-left: 4px;margin-bottom: 4px;}


#error_modal {background-color: #f2dede;color: #b94a48;border-color: #eed3d7;}

#progress_modal i {margin-right: 10px;}

#opt_modal {width: 660px;margin-left: -330px;max-height: none;height: auto;}
#opt_modal .modal-body {max-height: none;height: auto;overflow-y: visible;}

#slide_opt_modal {max-height: none;height: auto;}
#slide_opt_modal .modal-body {max-height: none;height: auto;overflow-y: visible;}
#background_color {width: 50%;}
#background_url {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;    
    width: 90%;
    height: 32px;
}

/*#slide_opt_modal*/ .minicolors-theme-bootstrap .minicolors-swatch {width: 24px;height: 24px;}

#share_modal textarea  {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
.share-link-label {display: inline-block;font-weight: bold;}
.share-link-icons {display: inline-block;float: right;}
.share-link-icons a:hover {text-decoration: none;}
.share-link-icons i {margin-left: 6px;}
.share-link-icons img {border: 0;}

.share-link-reddit {display: inline-block;margin-left: 6px;}
.share-link-reddit img {margin-bottom: 12px;}

.share-embed-label {display: inline-block;font-weight: bold;}
.share-embed-params {display: inline-block;float: right;}


/* SELECT PAGE ENTRY MODAL
*/

#entry_modal .modal-body {min-height: 200px;}

#entry_user_info {float: left;font-size: 0.9em;}

.entry-panel.entry-login > div {display: table;width: 100%;height: 170px;}
.entry-panel.entry-login > div > div {display: table-cell;text-align: center;vertical-align: middle;}

.entry-panel.entry-type {text-align: center;}
.entry-panel.entry-type a {display: inline-block;font-size: 72px;border: 1px solid #ddd;padding: 10px;margin: 10px;}
.entry-panel.entry-type a:hover {text-decoration: none;background-color: #ddd;}

.entry-list .table-header {margin-bottom: 6px;}
.entry-list .table-toggles {display: inline-block;float: right;}
.entry-list .title {display: inline;margin-bottom: 6px;}
.entry-list .modded {font-size: .8em;margin: 0 0 0px;line-height: 1.6em;}
.entry-list i.icon-warning-sign { margin-right: 0.5em; }

.entry-list .list-item-edit {margin-left: 10px;}
.entry-list .list-item-delete {margin-left: 10px;}



/* EDIT PAGE 
*/

/* menu bar across top of page
*/
.menu-bar {width: 100%;padding: 8px;z-index: 99;}
.menu-bar-left {float: left;}
.menu-bar-left * {margin-right: 8px;}
.menu-bar-right {float: right;}
.menu-bar-right button {margin-left: 8px;}


/* slides 
*/
.slides-section {
    position: absolute;
    top: 72px;
    left: 0;
    bottom: 0;
    right: 100px;
    width: 100px;
}

.slides-container {
    position: absolute;
    top: 88px;
    left: 0px;
    width: 100%;
    bottom: 36px;
    right: 0px;
    background: #efefef;
    overflow: scroll;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

#slides {
    position: relative;
    display: block;
    list-style: decimal inside;
    width: 100%;
    padding: 0;
    margin: 0;
    font: 11px Roboto,Arial,sans-serif;
}

.slides-add {
    position: absolute;
    height: 36px;
    bottom: 0;
    line-height: 36px;
    text-align: center;
    width: 100%;
}
.slides-add button {
    width: 100%;
    padding: 8px;
}

.slide {
    float: left;
    position: relative;
    width: 100%;
    margin: 8px 0 0 0;
    padding-right: 16px;
    text-align: right;
    cursor: pointer;
    height: 72px;
}

.slide:first-child {margin-top: 12px;}

.slide.selected .slide-icon {background: #e35a25;}

.slide-icon {
    display: inline-block;
    width: 60px;
    height: 50px;    
    margin-top: 4px;
    background-color: #666;
}

.slide-title {
    display: inline-block;
    width:60px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font: 11px Roboto,Arial,sans-serif;
}

.slide-icon:after {
    background: url(../img/storymap.png);
    background-repeat: no-repeat;
    background-position: 0 100px;
    width:24px;
    height:24px;
    overflow:hidden;
    content:'';  
    display: block;
    position: absolute;
    top:20px;left:44px;    
}
.slide-icon-website:after{background-position:-232px -24px}
.slide-icon-googledoc:after{background-position:-256px -48px}
.slide-icon-quote:after{background-position:-232px -48px}
.slide-icon-plaintext:after{background-position:-280px -48px}
.slide-icon-twitter:after{background-position:-256px -24px}
.slide-icon-video:after{background-position:-328px -24px}
.slide-icon-dailymotion:after{background-position:-328px -24px}
.slide-icon-soundcloud:after{background-position:-304px -24px}
.slide-icon-image:after{background-position:-280px -24px}
.slide-icon-flickr:after{background-position:-280px -24px}
.slide-icon-link:after{background-position:-184px -72px}
.slide-icon-storify:after{background-position:-328px -96px}
.slide-icon-wikipedia:after{background-position:-184px -48px}
.slide-icon-instagram:after{background-position:-208px -96px}
.slide-icon-vine:after{background-position:-232px -72px}
.slide-icon-googleplus:after{background-position:-208px -72px}
.slide-icon-vimeo:after{background-position:-328px -48px}
.slide-icon-youtube:after{background-position:-328px -72px}

.slide a.close {
    position: absolute;
    top: 0px;
    right: 8px;
    z-index: 99;
    color: #000000;
    opacity: 1;
    width: 16px;
    height: 16px;
    background: url(../img/icon_delete.png);
}

/* tabs
*/

.tabs-section {position: absolute;top: 48px;left: 100px;bottom: 0;right: 0;}
.tabs-section .nav {margin-bottom: 0; padding-left: 300px;}
.tabs-section .tab-content {position: absolute; left: 0;top: 40px;bottom: 0;right: 0;border-left: 1px solid #ddd;}
.tabs-section .tab-content .tab-pane {width: 100%;height: 100%;}

#preview_embed {width: 100%;height: 100%;}


/* map
*/
#map-div {position: absolute;top: 0;left: 0;bottom: 280px;right: 0;border-bottom: 1px solid #ddd;}
#map {width: 100%;height: 100%;}
#map * {font-family: Roboto,Arial,sans-serif;}
#map img{max-width:none}

#map_overlay {position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
#map_overlay polyline {fill: none;stroke: #cc0000;stroke-width: 2;}
    
#map_info {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    color: black;
    padding: 4px;
    border-right: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    display: none;
}

#map_search_input {
    position: absolute; 
    width: 250px;
    left: 50%;
    bottom: 10px;
    margin-left: -125px;
    font: 14px Roboto, Arial, Sans-serif;  
    border: 1px solid #666;
    box-shadow: 2px 2px 5px #333;   
}

/* SearchBox drop-down items */
.pac-item {font-family: Roboto, Arial, Sans-serif;}


/* slide data
*/
.data-left {position: absolute;height: 280px;left: 0;bottom:0;right: 50%;}
.data-right {position: absolute;height: 280px;left: 50%;bottom:0;right: 0;text-align: right;}

.data-section {position: absolute;top: 10px;left: 10px;bottom:10px;right: 10px;padding:8px;}
.data-frame {border: 1px solid darkgray;}

.data-section input[type="text"], .data-section textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
.data-section input[type="text"] {height: 28px;}

.data-media-icons {color: #aaa;margin-top: -8px;}
.data-media-upload {margin-top: 4px;margin-bottom: 12px;}

.data-right button {margin-bottom: 10px;}

/* font-face, font-size, line-height, etc should be set in font-specific css */
#headline {color: #000;margin-bottom: 11px;height: auto;}

#text {border-top-left-radius: 0; border-top-right-radius: 0;height: 70px;}

ul.wysihtml5-toolbar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    background: #ddd;
    width: 100%;
    padding: 0; /* 7px;*/
    margin: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

ul.wysihtml5-toolbar > li {padding: 2px 0;margin-bottom: 0;}

iframe.wysihtml5-sandbox {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

