/* styles for storymap editor tool */

/*
common
*/
#error_modal {background-color: #f2dede;color: #b94a48;border-color: #eed3d7;}

#progress_msg {margin-left: 10px;}

.shrinktext label,select,input[type="text"],textarea {font-size: 0.9em;}

.control-row * {float: right;margin: 8px 0 8px 8px;}

/*
select page
*/

#selector {margin: 10px auto;}

#new_modal .error {color: #cc0000;font-size: 0.9em;font-style: italic;}

/*
edit page
*/

#editor {margin: 10px auto;}

#editor label.example {font-size: .8em;font-style: italic;color: #999;}

.slides-row {
    position: relative;
    padding: 0;
    margin: 0;
    background: #ccc;
    height: 56px;
    border: 1px solid darkgray;
}

.overview-container {
    position: absolute;
    top: 0px;
    bottom:0;
    left: 0;
    width: 65px;
    border-style:solid;
    border-width: 0 4px 0 0;
    border-right-color: darkgray;
}
.overview-container .slide {font-size: 0.6em;}
.slides-container {position: absolute;top: 0px;bottom:0;left: 68px;right: 0;overflow: scroll;}
#slides {position: relative;display: block;list-style: none;height: 100%;font-size: 0.7em;margin: 0;padding: 0;}
.slide {
    float: left;
    position: relative;
    background: #fff;
    height: 40px;
    width: 50px;
    margin: 8px;
    padding: 0;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.slide a.close {position: absolute;top: -4px;right: 0;z-index: 99;color: #FF0000;}
.selected {background: #1dacd6;}

.map-row {
    position: relative;
    padding: 0;
    margin: 0;
    border-left: 1px solid darkgrey;
    border-right: 1px solid darkgrey;
    height: 260px;
}
#map {position: absolute;left: 0;top: 0;right: 0;bottom: 0;}
#map * {font-family: Roboto,Arial,sans-serif;}
#map img{max-width:none}
#map_search_input {position: absolute; top: 6px;right: 6px;display: none;font: 13px Roboto, Arial, Sans-serif;}
/* SearchBox drop-down items */
.pac-item {font-family: Roboto, Arial, Sans-serif;}

.infobox-wrapper {display:none;}
.infobox {background: white;border: 1px solid darkgray;margin-top: 8px;padding: 8px;}
.infobox form {margin: 0;padding: 0;white-space: nowrap;}
.infobox * { font-size: 14px; }

/*
#infobox input[type="text"] {margin: 0 8px 0 0;}
*/

.data-row {
    padding: 8px 8px 8px 0;
    margin: 0;
    border: 1px solid darkgrey;
}
.data-row input[type="text"],textarea {width: 85%;}

