/* styles for storymap editor tool */

/*
COMMON
*/
#error_modal {background-color: #f2dede;color: #b94a48;border-color: #eed3d7;}
#progress_msg {margin-left: 10px;}
#new_modal .error {color: #cc0000;font-size: 0.9em;font-style: italic;}

.shrinktext label,select,input[type="text"],textarea {font-size: 0.9em;}

.smaller {font-size: 0.8em;}

.control-row * {float: right;margin: 8px 0 8px 8px;}
.control-row div {margin-right: 20px;}

[class*="span"] {float: left;min-height: 1px;margin-left: auto;}

.row {margin-left: auto;}

/*
SELECT PAGE
*/

#selector {margin-top: 20px;margin-bottom: 10px;}

.intro-panel {padding-right: 20px;}
.title {display: inline;margin-bottom: 6px;}
.title-message {display: inline;margin-left: 10px;font: 12px Roboto,Arial,sans-serif;}
.modded {font-size: .8em;margin: 0 0 0px;line-height: 1.6em;}

.login-info {margin-bottom: 12px;font-size: 0.9em;font-weight: bold;}

#storymap_table {width: 100%;}
#storymap_table .storymap-edit,.storymap-delete {margin-left: 10px;}

/*
EDIT PAGE
*/

#editor {margin: 10px auto;}

#editor label.example {font-size: .8em;font-style: italic;color: #999;}

.edit-row {
    position: relative;
    padding: 0;
    margin: 0;
    border-left: 1px solid darkgray;
    border-right: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
}
   
.title-row {border-top: 1px solid darkgray;text-align: center;}

.slides-row {background: #ccc;height: 76px;}

.overview-container {
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    width: 76px;
    border-right: 4px solid darkgray;
}

.add-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 76px;
    border-left: 4px solid darkgray;
    font-size: 11px;
    text-align: center;
    padding-top: 12px;
}  
.add-container a {cursor: pointer;}
  
.slides-container {position: absolute;top: 0px;bottom:0;left: 80px;right: 80px;overflow: scroll;}

#slides {position: relative;display: block;list-style: none;height: 100%;font-size: 0.7em;margin: 0;padding: 0;}

.slide {
    float: left;
    position: relative;
    height: 64px;
    width: 60px;
    margin: 0px;
    padding: 8px;
    text-align: left;
    cursor: pointer;
}

.slide-icon {position: relative;background: #666;margin-top: 2px;height: 44px;}

.slide-icon:after {
    background: url(../img/storymap.png);
    background-repeat: no-repeat;
    background-position: 0 100px;
    width:24px;
    height:24px;
    overflow:hidden;
    content:'';  
    display: block;
    position: absolute;
    top:12px;left:20px;    
}

.slide-icon-website:after{background-position:-232px -24px}
.slide-icon-googledoc:after{background-position:-256px -48px}
.slide-icon-quote:after{background-position:-232px -48px}
.slide-icon-plaintext:after{background-position:-280px -48px}
.slide-icon-twitter:after{background-position:-256px -24px}
.slide-icon-video:after{background-position:-328px -24px}
.slide-icon-dailymotion:after{background-position:-328px -24px}
.slide-icon-soundcloud:after{background-position:-304px -24px}
.slide-icon-image:after{background-position:-280px -24px}
.slide-icon-flickr:after{background-position:-280px -24px}
.slide-icon-link:after{background-position:-184px -72px}
.slide-icon-storify:after{background-position:-328px -96px}
.slide-icon-wikipedia:after{background-position:-184px -48px}
.slide-icon-instagram:after{background-position:-208px -96px}
.slide-icon-vine:after{background-position:-232px -72px}
.slide-icon-googleplus:after{background-position:-208px -72px}
.slide-icon-vimeo:after{background-position:-328px -48px}
.slide-icon-youtube:after{background-position:-328px -72px}


.slide a.close {
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 99;
    color: #000000;
    opacity: 1;
    width: 32px;
    height: 32px;
    background: url(../img/fancybox_sprite.png);
    zoom: 0.5;
    -moz-transform:scale(0.5);
}

.slide-title {
    font: 11px Roboto,Arial,sans-serif;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    text-overflow: ellipsis;
    padding-left: 2px;
}

.selected {background: #e35a25;} /*#1dacd6;}*/

/* map row */
.map-row {height: 260px;}

#map {position: absolute;left: 0;top: 0;right: 0;bottom: 0;}
#map * {font-family: Roboto,Arial,sans-serif;}
#map img{max-width:none}

#map_overlay {position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
#map_overlay polyline {fill: none;stroke: #cc0000;stroke-width: 2;}
    
#map_info {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    color: black;
    padding: 4px;
    border-right: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    font: 13px Roboto, Arial, Sans-serif;
}

#map_search_input {
    position: absolute; 
    top: 6px;right: 6px;
    display: none;
    font: 13px Roboto, Arial, Sans-serif;
}


/* SearchBox drop-down items */
.pac-item {font-family: Roboto, Arial, Sans-serif;}


.data-row {padding: 12px 6px 8px 6px;}
.data-row input[type="text"],textarea,.text-container {width: 96%;}

.data-frame {
    border: 1px solid darkgray;
    width: 94%;
    margin: 0 auto;
    padding: 6px 6px 6px 8px;
}

/* wysihtml5 */
ul.wysihtml5-toolbar {
    background: #ddd;
    width: 100%;
    padding: 0px 7px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

ul.wysihtml5-toolbar > li {
    padding: 2px 0;
    margin-bottom: 0;
}

#text {
    width: 100%;
    padding: 4px 6px;
    border-top: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

