/*********** styles for storymap editor tool ***********/

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	background-color:#F8F8F8;
	font-size: 14px;
	min-width: 700px;
	counter-reset: slides;
}

div, ol, li {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

button.btn, .btn-group>.btn, .btn-group>.dropdown-menu, .btn-group>.popover {
    font-size: 14px;
}

.popover-title, .popover-content {font-size: 12px;}

label, select, textarea {font-size: 14px;}

input[type="text"]:not(#headline) {font-size: 14px;line-height: 18px;}
input[type="text"].editor-headline {
	font-size: 28px !important;
	line-height: 28px !important;
}

input[type="text"].stretch {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    margin-left: 0;
    margin-right: 0;
}

textarea.stretch {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	background-color: #fff;
	border: 1px solid #ccc;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

}

.add-on {font-size: 14px !important;}

ul { margin-bottom: 0;}
li { padding: 0; }

li.default {color: #aaa;padding-left: 6px;padding-right: 6px;}

.form-horizontal .control-group {margin-bottom: 12px;}

a.help {color: #333;margin-left: 6px;}
a.help:hover {text-decoration: none;}

/*	MODALS
----------------------------------------------------- */

input[type="radio"] {margin: 0;}
.radio.inline {line-height: 16px;}

#call_to_action_text {margin-left: 6px;}
#call_to_action_default {
	padding-left: 108px;
    margin-bottom: 0px;
}

.modal-backdrop {background-color: #F8F8F8;}
.modal .error {color: #cc0000;font-style: italic;}
.modal {
	border: 1px solid #CCC;
	box-shadow: 1px 1px 7px rgba(0,0,0,.20);
}
/*      in-modal progress panel
*/
.modal-progress {
    position:absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #fff;
    opacity: 0.85;
    z-index: 1000;
}
.modal-progress > div {display: table;width: 100%;height: 100%;}
.modal-progress > div > div {display: table-cell;text-align: center;vertical-align: middle;}
.modal-progress i {margin-bottom: 10px;}

/*      in-modal confirm panel
*/
.modal-confirm {
    position:absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #fff;
    opacity: 0.85;
    z-index: 1001;
}
.modal-confirm > div {display: table;width: 100%;height: 100%;}
.modal-confirm > div > div {display: table-cell;text-align: center;vertical-align: middle;}
.modal-confirm button {margin-left: 8px;margin-right: 8px;}

.modal-msg {
	font-family: "Apres RE","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*      in-modal upload panel
*/
.upload-panel {position:relative;}
.upload-panel input[type="file"] {
    position:absolute;
    z-index:2;
    top:0;
    left:0;
    filter: alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity:0;
    background-color:transparent;
    color:transparent;
    width: 146px;
}
.upload-conflict-rename {vertical-align: text-bottom;}
.upload-conflict-rename input[type="radio"] {margin-top: 8px;}
.upload-conflict-rename input[type="text"] {margin-left: 4px;margin-bottom: 4px;}

#error_modal {background-color: #f2dede;color: #b94a48;border-color: #eed3d7;}

#progress_modal i {margin-right: 10px;}

.text-input-clear {
    float: none;
    height: 32px;
/*    margin-top: -10px;*/
    margin-left: -20px;
}


/* options
*/
#opt_modal {width: 660px;margin-left: -330px;max-height: none;height: auto;}
#opt_modal .modal-body {max-height: 70vh;height: auto;overflow-y: scroll;}
#map_background_color {padding-right: 44px;}

#opt_modal .nav {font-family: "Apres RE","Helvetica Neue",Helvetica,Arial,sans-serif;}
#opt_modal .nav-tabs {border-bottom: none;}
#opt_modal .tab-content {
    border-top: 1px solid #CCC;
    padding: 15px;
    margin-top: -22px;
    margin-left: -15px;
    margin-right: -15px;
}
#opt_modal p {font-family: "Apres RE","Helvetica Neue",Helvetica,Arial,sans-serif;}

#opt_description {resize: vertical;}

#opt_image_url {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    width: 98%;
    height: 32px;

}


#slide_opt_modal {max-height: none;height: auto;}
#slide_opt_modal .modal-body {max-height: none;height: auto;overflow-y: visible;}
#background_color {width: 50%;padding-right: 44px;}
#background_color_clear {margin-top: -10px;}
#background_url {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    width: 90%;
    height: 32px;
}

#marker_url {
	margin-right:10px;
}

.minicolors-theme-bootstrap .minicolors-swatch {width: 24px;height: 24px;}
#share_modal label {
	font-weight:bold;
}

#share_modal .share-link-container:after, #share_modal .share-link-container:before {
	display: table;
	content: "";
}
#share_modal .share-link-container:after {
	clear:both;
}

#share_modal .share-link {
	width:70%;
	float:left;
}
#share_modal .share-social {
	width:28%;
	margin-left:2%;
	float:left;
}
#share_modal .share-social a:hover {
	text-decoration:none;
}

#share_modal .share-embed-params .vco-icon-arrow-up {
	font-size:32px;
	height:22px;
	margin-left:10px;
	color:#F0F0F0;
}
#share_modal .share-embed-params {
	margin-top:-8px;
}
#share_modal .share-embed-params .controls {
	background-color:#F0F0F0;
	border-radius:7px;
	padding-top:10px;
	padding-left:10px;
	width:60%;
}
#share_modal .share-embed-params .input-prepend .add-on {

	color:#999;
	text-shadow: none;
	background-color: #F0F0F0;
	border: 1px solid #F0F0F0;
}
#share_modal .share-embed-container {
	margin-top:10px;
	margin-bottom:10px;
}
#share_modal #oembed-note {
	border-bottom: 1px dotted #ccc;
}
#share_modal .share-embed-params input[type="text"] {
	border: 1px solid #DDD;
}
#share_modal textarea  {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
	margin-bottom: 0;
    width: 100%;
}
.input-prepend .add-on {
	font-family: "Apres RE","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.share-embed-label {

}

/*	SELECT PAGE ENTRY MODAL
----------------------------------------------------- */
#entry_modal .modal-body {min-height: 200px;}

#entry_user_info {
	float: left;
	font-size: 0.9em;
	color:#CCC;
}
#entry_user_info span {
	color:#666;
}

.entry-panel.entry-login > div {display: table;width: 100%;height: 170px;}
.entry-panel.entry-login > div > div {display: table-cell;text-align: center;vertical-align: middle;}


.entry-panel.entry-type {text-align: center;}
.entry-panel.entry-type .type-panel {display: inline-block;}
.entry-panel.entry-type .type-panel > div {
	position: relative;
	display: inline-block;
	border: 1px solid #CCC;
	margin: 10px;
	overflow: hidden;
	border-radius:4px;
}
.entry-panel.entry-type .type-panel > div:hover {
	border: 1px solid #999;
}
.entry-panel.entry-type a.icon-button {
	display: inline-block;
	font-size: 72px;
	padding: 10px;
	background-color: #FFF;

}
.entry-panel.entry-type a.icon-button:hover {
	text-decoration: none;
	background-color: #F5F5F5;

}

.entry-panel.entry-type .beta-tag {
    position: absolute;
    font-size: 0.8em;
    font-weight: 600;
    background-color: #F8F8F8;
    border: 1px solid #CCC;
	color:#666;
    width: 92px;
    top: 6px;
    left: 30px;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
	font-family: "Apres RE","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.entry-panel p.ui-note {
	margin: 4em 0 0 0;
	font-style: italic;
}

.entry-list .table-header {margin-bottom: 6px;}
.entry-list .table-header strong {
	font-weight: bold;
	font-size: 16px;
}
.entry-list .table-toggles {display: inline-block;float: right;}
.entry-list .title {display: inline;margin-bottom: 6px;}
.entry-list .modded, .entry-list .locked {
	font-size: .8em;
	margin: 0 0 0px;
	line-height: 1.6em;
	color:#999;
}
.entry-list .locked {
    color: #e35a25;
}

.entry-list i.icon-warning-sign { margin-right: 0.5em; }
.entry-list .list-item-options {margin-left: 10px;}
/*
.entry-list .list-item-shared {margin-left: 10px;color: #999;}
*/
.entry-list .list-item-shared {margin-right: 0.5em;}

.entry-list img.shared {width: 16px;margin-top: -4px;margin-right: 4px;border: 1px solid #ddd;}
.entry-list a.shared {display: inline-block;color: #000;}
.entry-list a.shared:hover {text-decoration: none;}

#entry_user_info, .entry-list .modded, .entry-list .locked {
	font-family: "Apres RE","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.entry-panel p {
	color:#333;
	font-size:14px;
}

/*a.list-item-delete, a.list-item-rename, a.list-item-copy,*/
a.list-item-options {
	color:#999;
}

/*a.list-item-delete:hover, a.list-item-rename:hover, a.list-item-copy:hover*/
a.list-item-options:hover {
	text-decoration:none;
    color: #1dacd6;
}


/*	EDIT PAGE
----------------------------------------------------- */

/*	MENU BAR
----------------------------------------------------- */
.menu-bar {width: 100%;padding: 8px;z-index: 99;}
.menu-bar-left {float: left;}
.menu-bar-left * {margin-right: 2px;}
.menu-bar-right {float: right;}
.menu-bar-right button {margin-left: 2px;}

.btn {
	font-family: "Apres RE","Helvetica Neue",Helvetica,Arial,sans-serif;
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 22px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #242424;
	text-shadow: none;
	background-color: #FFF;
	background-image: none;

	border: 1px solid #e6e6e6;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.btn:hover {
	background-color: #F8F8F8;
	background-image: none;
	border: 1px solid #999;
}
.btn.disabled, .btn[disabled] {
	color: #242424;
	background-color: #F8F8F8;
}
.btn-primary {
	background-color:#1d93d6;
	color:#FFF;
}
.btn-primary:hover {
	background-color:#1d6ed6;
	color:#FFF;
}
.btn-success {
	background-color:#5bb75b;
	color:#FFF;
}
.btn-success:hover {
	background-color:#62c462;
	color:#FFF;
}
.btn [class^="icon-"], [class*=" icon-"] {
	margin-right:3px;
}

/*	SLIDES
----------------------------------------------------- */
.slides-section {
    position: absolute;
    top: 72px;
    left: 0;
    bottom: 0;
    right: 100px;
    width: 130px;
}

.slides-container {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100%;
    bottom: 0px;
    right: 0px;
	background-color:#F8F8F8;
    overflow: scroll;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

#slides {
    position: relative;
    display: block;
    /*list-style: decimal inside;*/
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
    font: 11px Roboto,Arial,sans-serif;
}

.slide {

    position: relative;
    width: 100%;
    margin:0;

	margin-top:15px;
    padding:0;
    text-align: center;
    cursor: pointer;
    height: 72px;
}

.slide-title {
    display: block;
    width:80px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size:11px;
	font-family: "Apres RE","Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-left:25px;
	margin-right:25px;
	color:#666;
}

.slide:first-child {
	margin-top: 15px;

}
.slides-container .slide:first-child {
	margin-top: 15px;
	margin-left:0;
}
.slide:first-child .slide-title {
	margin-left:25px;

}
.slides-container .slide:first-child .slide-title {
	margin-left:25px;

}

[class^="slide-icon-"], [class*=" slide-icon-"], .slide-icon {
	font-family: 'vco-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size:32px;
	padding-top:12px;

	text-align:center;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#slides .slide-icon:before {
    counter-increment: slides;
    content: counter(slides);
	font-family: "Apres RE","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-right: 6px;
	color:#666;
	display:inline-block;
	position:absolute;
	top:26px;
	left:-16px;
	width:10px;
	font-size:11px;
	text-align:right;
	font-weight:normal;
}

.slide-icon {
	position:relative;
    display: block;
    width: 78px;
    height: 58px;
    border: 1px solid #CCC;
    margin-left:25px;
	margin-right:25px;
	color:#999;
    background-color: #666;
	border-radius:4px;
}
.slide:first-child .slide-icon {
	 background-color: #F8F8F8;
	 border: 1px solid #F8F8F8;
	 color:#CCC;
}
.slides-container .slide:first-child .slide-icon {
	 background-color: #666;
	 border: 1px solid #CCC;
	 color:#999;
}
.slide-icon:after {
	content: "\e62e";
	line-height: 1;
	font-size:32px;
}

.slide-icon-website:after{ 		content: "\e636";}
.slide-icon-googledoc:after{ 	content: "\e63f";}
.slide-icon-quote:after{ 		content: "\e64b";}
.slide-icon-plaintext:after{ 	content: "\e62e";}
.slide-icon-twitter:after{ 		content: "\e62b";}
.slide-icon-video:after{ 		content: "\e62d";}
.slide-icon-dailymotion:after{ 	content: "\e63a";}
.slide-icon-soundcloud:after{ 	content: "\e639";}
.slide-icon-image:after{ 		content: "\e605";}
.slide-icon-flickr:after{ 		content: "\e642";}
.slide-icon-link:after{ 		content: "\e636";}
.slide-icon-storify:after{ 		content: "\e62e";}
.slide-icon-wikipedia:after{ 	content: "\e64e";}
.slide-icon-instagram:after{ 	content: "\e644";}
.slide-icon-vine:after{ 		content: "\e64d";}
.slide-icon-googleplus:after{ 	content: "\e62c";}
.slide-icon-vimeo:after{ 		content: "\e606";}
.slide-icon-youtube:after{ 		content: "\e651";}

.slide a.close {
    position: absolute;
    top: -4px;
    right: 6px;
    z-index: 99;
    color: #000000;
    opacity: 1;
    width: 16px;
    height: 16px;
    background: url(../img/icon_delete.png);
	display:none;
}
.slide:hover a.close {
	display:block;
}
.slide.selected:first-child .slide-icon {
	background-color:#DA0000;
	border: 1px solid #FFF;
	color: #FFF;
}
.slide.selected .slide-icon {
	background-color:#DA0000;
	border: 1px solid #FFF;
	color: #FFF;
}
.slide.selected .slide-title {

	color: #DA0000;
	font-weight:bold;
}
#slides .slide.selected .slide-icon:before {

	color: #DA0000;
	font-weight:bold;
}
.slide:first-child:hover .slide-icon {
	background-color:#FFF;
}
.slides-container .slide:first-child:hover .slide-icon , .slide:hover .slide-icon {
	background-color:#333;
}
.slide.selected:first-child:hover .slide-icon , .slide.selected:hover .slide-icon {
	background-color:#DA0000;
}

/*	SLIDE ADD
----------------------------------------------------- */
#storymap_add_slide {
	margin-bottom:25px;
	cursor: pointer;
}
#storymap_add_slide .slide-icon:before {
	display:none;
}
#storymap_add_slide .slide-title {
	text-align:center;
	color:#999;
}
#storymap_add_slide .slide-icon:after {
	content: "+";
	line-height: 0;
	font-size:58px;
	margin-top:-25px;

}

#storymap_add_slide .slide-icon {
	position:relative;
    display: block;
    width: 80px;
    height: auto;
    border:0;
    margin-left:25px;
	margin-right:25px;
	color:#999;
    background-color: #F8F8F8;
	border-radius:0;
	padding-top: 0px;
	border-top: 1px solid #CCC;
	margin-top:20px;
	padding-top:20px;
}
#storymap_add_slide:hover .slide-title {
	color:#000;
}
#storymap_add_slide:hover .slide-icon:after {
	color:#333;
}
/*	TABS
----------------------------------------------------- */
.nav-tabs {
	border-bottom: 2px solid #CCC;
}
.tabs-section {
	position: absolute;
	top: 48px;
	left: 130px;
	bottom: 0;
	right: 0;

}
.tabs-section .nav {
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	padding:0;
	font-family: "Apres RE","Helvetica Neue",Helvetica,Arial,sans-serif;

}
.tabs-section .nav li:first-child {
	margin-left:42%;
}
.tabs-section .tab-content {
	position: absolute;
	left: 0;
	top: 40px;
	bottom: 0;
	right: 0;
	border-left: 1px solid #CCC;
	background-color:#FFF;
}
.tabs-section .tab-content .tab-pane {width: 100%;height: 100%;}

#preview_embed {width: 100%;height: 100%;}


/* map
*/
#map-div {position: absolute;top: 0;left: 0;bottom: 312px;right: 0;border-bottom: 1px solid #CCC;}
#map {width: 100%;height: 100%;}
#map img{max-width:none}

#map_overlay {position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
#map_overlay polyline {fill: none;stroke: #cc0000;stroke-width: 2;}

#map_info {
    position: absolute;
	font-family: "Apres RE","Helvetica Neue",Helvetica,Arial,sans-serif;
    top: 0;
	width:100%;
    background-color:rgba(256,256,256,0.8);
    color: #999;
	font-style: italic;
    padding: 10px 0px 10px 0px;
    text-align:center;

    display: none;
}

#map_search_input {
    position: absolute;
    width: 400px;
    left: 50%;
    bottom: 10px;
    margin-left: -125px;
    font-family: "Apres RE","Helvetica Neue",Helvetica,Arial,sans-serif;
    border: 1px solid #DA0000;

	box-shadow: 1px 1px 7px rgba(0,0,0,.30);
}

/* Easier to see markers */
#edit .vco-map .vco-mapmarker {
	color: #da0000 !important;
}

/* SearchBox drop-down items */
.pac-item {font-family: Roboto, Arial, Sans-serif;}


/* slide data
*/
label, .data-media-upload {
	font-family: "Apres RE","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.data-section.data-frame label {
	display:inline-block;

	color:#999;
	font-size: 20px;
	margin-bottom:10px;
}
.data-section.data-frame input#url{
	margin-bottom:4px;
}
.data-left, .data-right {
	position: absolute;
	height: 312px;
	bottom:0;
}
.data-left {left: 0;right: 50%;}
.data-right {left: 50%;right: 0;text-align: right;}

.data-section {
	margin: 20px;
}

.data-left .data-section {
	margin-right:10px;
}
.data-right .data-section {
	margin-left:10px;
}

.data-frame {
	border: 1px solid #CCC;
	background-color:#F8F8F8;
	border-radius:4px;
	padding:10px;
}

.data-section input[type="text"], .data-section textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
		height: 100%;
}
.data-section input[type="text"] {height: 28px;}

.data-media-preview {
	display: inline-block;
	width: 38%;
	margin-right: 4%;
	vertical-align: top;
	height: 100%;
}

.data-media-preview > p{
	text-align: center;
	background-color: #dddddd;
	color: #777777;
	padding-top: 90px;
	height: 116px;
}

.data-media-details {
	display: inline-block;
	width: 55%
}

.vco-media-item {
	width: 100%;
	height: auto;
}

.data-media-preview .vco-media-twitter blockquote p{
	font-size: 16px;
	line-height: 21px;
}

.vco-media-wikipedia {
	height: 300px;
	overflow: scroll;
}

.data-media-icons {
	text-align:right;
	width:100%;
	font-size:16px;
	color: #DDD;
	position:absolute;
	top:10px;
	right:10px;
	display:inline-block;
}
.data-media-upload {
	margin-top: 4px;
	margin-bottom: 24px;
}

.data-right button {margin-bottom: 10px; margin-left: 5px;}

/* font-face, font-size, line-height, etc should be set in font-specific css */
#headline {color: #000;margin-bottom: 11px;height: auto;}

#text {border-top-left-radius: 0; border-top-right-radius: 0;height: 120px;}

ul.wysihtml5-toolbar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    background-color:#F8F8F8;
    width: 100%;
    padding: 0; /* 7px;*/
    margin: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
	border: 1px solid #CCC;
	border-bottom:0;
}

ul.wysihtml5-toolbar > li {
	padding:0;
	margin-bottom: 0;

}
ul.wysihtml5-toolbar  li {
	margin-right:0;
}
.wysihtml5-toolbar .btn {
	border-top:0;
	border-bottom:0;
	border-color:#CCC;
	border-left:0;
	border-radius:0;
}

iframe.wysihtml5-sandbox {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.leaflet-container {
	background: #FFF;

}
.leaflet-control-attribution {
	color:#CCC;
	border:0;
}
.leaflet-control-attribution a {
	color:#999;
}

/*
Progress Spinner
*/
.icon-spin {
display: inline-block;
-moz-animation: none;
-o-animation: none;
-webkit-animation: none;
animation: none;
}
.icon-spinner:before {
	content: "";
}
.icon-spin {
  width: 15px;
  height: 15px;
  background-color: #333;


  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}
#share_modal .icon-spin {
    width: 45px;
    height: 45px;
}
.icon-spin.icon-4x {
    width: 45px;
    height: 45px;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.note {font-size: 0.8em;}
.ui-note {font: 13px Roboto, Arial, Sans-serif;}

/*
 test mode banner
 */
.test-mode-warning {
	padding: 5px;
	text-align: center;
	font-weight: bold;
	background-color: orange;
	color: white;
}

#geocode-autocomplete {
	list-style-type: none;
	margin: 10px;
	z-index: 1000;
	background-color: white;
	padding: 5px;
	border: .5px #ccc solid;
}

#geocode-autocomplete li {
	font-family: "Apres RE", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 3px 0;
	margin: 4px 0;
	cursor: pointer;
}

#geocode-autocomplete li:before {
	content: "\01F4CD";
	padding-right: 2px;
}

#geocode-autocomplete li.active {
	background-color: lightyellow;
}
