.vco-storymap {
	font-family: @font-main;
	
	h1, h2, h3 {
		font-size: @base-font-size-large;
	}
	p {
		font-size: @base-font-size;
		font-family: @font-secondary;
	}
	.vco-caption, .vco-credit, .vco-slidenav-next, .vco-slidenav-previous {
		font-family: @font-sanserif;
	}
	
	blockquote, blockquote p {
		font-family: @font-serif;
	}
	
	
}
