/*!
	StorySlider
	
	Designed and built by Zach Wise at VeriteCo
	
	This Source Code Form is subject to the terms of the Mozilla Public
	License, v. 2.0. If a copy of the MPL was not distributed with this
	file, You can obtain one at http://mozilla.org/MPL/2.0/.

*/

/* Includes
================================================== */
@import "Variables.less"; 			// Variables (easy way to make style changes)
@import "core/Mixins.less"; 		// Less shortcuts and functions
@import "core/Reset.less"; 			// CSS Reset
@import "core/Typography.less";

//	Components
@import "slider/VCO.Slide.less";
@import "media/VCO.Media.less";
@import "media/VCO.Media.Text.less";

/* SLIDER CONTAINERS 
================================================== */
.vco-storyslider {
	width:100%;
	height:100%;
	overflow:hidden;
	
	img, embed, object, video, iframe {
		max-width: 100%;
	}
	
	.vco-slider-container-mask {
		text-align: center;
		width: 100%;
		height: 100%;
		overflow: hidden;
		.vco-slider-container {
			position: relative;
			top: 0px;
			left: -2160px;
			width: 100%;
			height: 100%;
			text-align: center;
			.vco-slider-item-container {
				width: 100%;
				height: 100%;
				display:table-cell;
				vertical-align:middle;
			}
		}
	}
	
}

// Mobile, iPhone and skinny
@media only screen and (max-width: 500px), only screen and (max-device-width: 500px) {
	.vco-storyslider {
		.vco-slider-container-mask {
			.vco-slider-container {
				.vco-slider-item-container {
					
				}
			}
		}
	}
} 

/* NAVIGATION
================================================== */
.vco-storyslider {
	.vco-nav-previous, .vco-nav-next {
		position:absolute;
		top: 45%;
		//width: @feature-nav-width; 
		color: #DBDBDB;
		//font-size:@base-font-small;
		.vco-nav-container {
			height:100px;
			width:200px;
			position:absolute;
		}
		.vco-icon {
			
		}
		.vco-date, .vco-title {
			a {
				
			}
			small {
				
			}
		}
		.vco-date {
			
		}
		.vco-title {
			
		}
	}
	.vco-nav-next {
		//float: right;
		text-align: right;
		right:200px;
	}
	.vco-nav-previous {
		//float: left;
		text-align: left;
	}
}