{% extends "admin/base.html" %}

{% block content %}
<div class="container">
  <div>
    <form action="." method="GET">
      User name contains: <input type="text" name="uname"/>
      User ID contains: <input type="text" name="uid"/>
      Migrated: <input type="radio" name="migrated" value="migrated" {% if args.get('migrated') == 'migrated' %}checked{% endif %} />
      Unmigrated: <input type="radio" name="migrated"  value="unmigrated" {% if args.get('migrated') == 'unmigrated' %}checked{% endif %} />
      All: <input type="radio" name="migrated"  value="all" {% if args.get('migrated') != 'migrated' and args.get('migrated') != 'unmigrated' %}checked{% endif %}/>
      <input type="submit" value="Search"/>
    </form>
  </div>
  <div>
    <h3>Page {{ page }} of {{ pages }}</h3>
    {% for p in range(0,pages) %}
      {% if p+1 == page %}
        {{ p+1 }}
      {% else %}
        <a href="{{ request.path }}?{{ querystring }}&page={{ p+1 }}">{{ p+1 }}</a>
      {% endif %}
    {% endfor %}
  </div>
  {% for user in users %}
    <div>
    <h3>{{ user.uname }}
    <span class="badge badge-{% if user.migrated %}success{% else %}important{% endif %}">{% if not user.migrated %}un{% endif %}migrated</span>
    </h3>
    <strong>UID:</strong> {{ user.uid }}<br/>
    <h4>Files</h4>
    <ul>
    {% for file in user.files %}
      <li><a href="{{ storage_root }}{{ file }}">{{ file }}</a></li>
    {% endfor %}
    </ul>
    <h4>StoryMaps</h4>
    {% for storymap in user.storymaps.values() %}
      <div>
        <h5>{{ storymap.title }}</h5>
        <strong>ID:</strong> {{ storymap.id }} <br/> 
        <strong>Draft:</strong> {{ storymap.draft_on }} <br/>
        <strong>Published:</strong> {{ storymap.published_on }} <br/>
      </div>
    {% endfor %}
    </div>
  {% endfor %}
</div>
{% endblock content %}
