- hosts: "{{ env }}"
  vars_files:
    - "{{ config_dir }}/config.common.yml"
    - "{{ config_dir }}/config.{{ env }}.yml"
    - "{{ vault }}"
  gather_facts: false

  roles:
    - role: deploy
    - role: dotenv

  tasks:

    - name: Template envrc startup script
      template:
        src: templates/envrc.j2
        dest: "{{ envrc_file }}"
      notify:
        - allow envrc
        - restart appserver

    - name: Template systemd config
      template:
        src: templates/systemd.j2
        dest: "/etc/systemd/system/{{ service_name }}.service"
        owner: root
        group: root
        mode: 0644
      become: yes
      become_user: root
      become_method: sudo
      notify:
        - restart appserver
        - restart nginx

    - name: install python packages
      pip:
        requirements={{ requirements_file }}
        virtualenv={{ virtualenv }}
        virtualenv_command="{{ python }} -m venv --prompt {{ project_name }}"
      notify:
        - restart appserver

    - name: set project location in virtual environment
      template:
        src=templates/project.j2
        dest="{{ virtualenv }}/.project"

   #- name: django migrate
   #   when: type == "django" and (django_migrate is undefined or django_migrate)
   #   # django manage.py command does not support env vars, thus shell instead
   #   shell: "{{ env_run_script }} ./manage.py migrate --noinput"
   #   args:
   #     chdir: "{{ application_dir }}"

    - name: make sure application server is running
      #  should we be using shell or command here instead of raw?
      raw: if (sudo systemctl status {{ service_name }} |grep Stop); then sudo systemctl start {{ service_name }} ; fi


  handlers:
    - name: restart appserver
      raw: sudo systemctl restart {{ service_name }}
    - name: restart nginx
      shell: sudo systemctl restart nginx
        warn=False
    - name: allow envrc
      shell: direnv allow .
      args:
        chdir: "{{ application_dir }}"
