<!DOCTYPE html>
<html>

<head>
    <title>Bundled StoryMapJS test page</title>
    <!-- this is normally done by embed page -->
	<script type="text/javascript" src="/dist/js/storymap.js"></script>


	<style>
		html, body {
		    width: 100%;
		    height: 100%;
		    padding: 0;
		    margin: 0;
		}
		#storymap-embed {
			/*border: 1px solid #999;*/
		}
	</style>

</head>

<body>
    <h1>StoryMap Development</h1>
    <div>
        <label for="timeline-src">data source URL:</label><input type="text" size="120" name="timeline-src" id="timeline-src">
    </div>
    <div id='storymap-embed'></div>

    <script>
    (function() {
        var data = {};
        var options = {};
        var storymapTitle = 'Test';
	    storymap = new KLStoryMap.StoryMap('storymap-embed', data, options, {title: storymapTitle});
    })();
    </script>

</body>

</html>
