
        <section id="overview" class="container">
        	<div class="grid-size-2 grid-size-1-phone">
        		<div class="grid-item">
        			<p>
        				StoryMapJS is a free tool to help you tell stories on the web that highlight the locations of a series of events. It is a new tool, yet stable in our development environment, and it has a friendly authoring tool.
        			</p>
                    <p>There are a couple ways you can make a StoryMap.</p>
                    <ul>
                        <li>
                            <h5>Maps</h5>
                            <p>
                                Add a slide for each place in your story. Setting the location is as easy as a text search for the name or address. You can change the visual style of your map with a few presets, or you can use <a href="https://www.mapbox.com/maps/" target="_blank">Mapbox</a> to create your own style.
                            </p>
                        </li>
                        <li>
                            <h5>Really big images</h5>
                            <p>
                                You can tell stories with large photographs, works of art, historic maps, and other image files. Because it works best with pixel-dense files, we call these <strong><q>gigapixel</q></strong>. Setting one up requires you to host files on a web server.
                            </p>
                            <p class="text-align-center">
                                <a class="button button-small" href="/gigapixel/">Learn more about gigapixel</a>
                            </p>
                        </li>
                    </ul>
        		</div>
        		<div class="grid-item">
                    <h3 style="margin-top:0;">Tips &amp; tricks</h3>
        			<ol>
        				<li>Keep it short. We recommend not having more than 20 slides for a reader to click through.</li>
        				<li>Pick stories that have a strong location narrative. It does not work well for stories that need to jump around in the map.</li>
        				<li>Write each event as a part of a larger narrative.</li>
        				<li>Include events that build up to major occurrences — not just the major events.</li>
        			</ol>
                    <h3>Media sources</h3>
        			<p>
        				StoryMap JS can pull in media from a variety of sources.
        				Twitter, Flickr, YouTube, Vimeo, Vine, Dailymotion, Google Maps, Wikipedia, SoundCloud, Document Cloud and more!
        			</p>
        		</div>
        	</div>
        </section>
