<!-- AUTH/SHARING -->
<script type="text/javascript">

var _GDRIVE_CLIENT_ID = '';
var _GDRIVE_APP_ID = '';

switch(document.location.hostname) {
    case '127.0.0.1':
    case '0.0.0.0':
    case 'localhost':
        _GDRIVE_CLIENT_ID = '756318487608-f4tabbk9avdlmunpevnhdo230757u096.apps.googleusercontent.com';
        _GDRIVE_APP_ID = '756318487608';
        break;
        
    case 'storymap.knilab.com':
        _GDRIVE_CLIENT_ID = '701246230876-a6u4kc70qpluhk7jhplrv4hcor8gj0d5.apps.googleusercontent.com';
        _GDRIVE_APP_ID = '701246230876';
        break;
    
    case 'storymap.knightlab.com':
        _GDRIVE_CLIENT_ID = '1087881665848.apps.googleusercontent.com';
        _GDRIVE_APP_ID = '1087881665848';
        break;
}
</script>
