<section id="help" class="container">
  <h2>Help</h2>
  <p>Have a question? Look for it in the FAQ below. No luck there? Try the <a href="https://groups.google.com/forum/#!forum/verite-timeline" target="_blank">Google Group</a>.</p>
  <div class="row">
    <div class="span12">
      <div id="accordion-faq" class="accordion">
          <div class="accordion-group">
            <div class="accordion-heading"><a data-toggle="collapse" data-parent="#accordion-faq" href="#faq-01" class="accordion-toggle collapsed">
              Smart question #1?</a>
              </div>
            <div id="faq-01" style="height: 0px;" class="accordion-body collapse">
              <div class="accordion-inner">Smart answer #1</div>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>  
</section>