<div id="error_modal" class="modal hide fade" role="dialog" aria-hidden="true">
    <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <p><span id="error_msg"> </span></p>
   </div>
</div>

<div id="progress_modal" class="modal hide fade" role="dialog" aria-hidden="true">
    <div class="modal-body">
        <p><i class="icon-spinner icon-spin"></i><span id="progress_msg"></span>...</p>
    </div>
</div>

<div id="confirm_modal" class="modal hide fade" role="dialog" aria-hidden="true">
    <div class="modal-body">
        <p id="confirm_msg"></p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-primary">Delete</button>
    </div>
</div>

<div id="message_modal" class="modal hide fade" role="dialog" aria-hidden="true">
    <div class="modal-body">
        <p id="message_msg"></p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">OK</button>
    </div>
</div>

<div id="new_modal" class="modal hide fade" role="dialog" aria-hidden="true">
    <div class="modal-body">
        <small class="error"> </small>
        <p>Enter a unique name for your StoryMap:</p>
        <input type="text" id="new_name" value="" style="width: 95%;" />
        <p><small>This name is just for you. No one else will see it.</small></p>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <a href="#" class="btn btn-primary">Create</a>
    </div>
</div>

<div id="new_zoomify_modal" class="modal hide fade" role="dialog" aria-hidden="true">
    <div class="modal-body">
        <small class="error"> </small>
        <p>Enter a unique name for your StoryMap:</p>
        <input type="text" id="new_zoomify_name" value="" style="width: 95%;" />
        <p><small>This name is just for you. No one else will see it.</small></p>
        <p>Enter an URL path for a zoomify image directory:</p>
        <input type="text" id="new_zoomify_path" value="" style="width: 95%;" placeholder="http://www.domain.org/directory/" />
        <p>Enter the maximum dimensions of the image:</p>
        <div class="controls">
            <div class="input-prepend">
                <span class="add-on">Width</span>
                <input type="text" id="new_zoomify_width" value="" class="input-small"> 
            </div>
             <div class="input-prepend">
                <span class="add-on">Height</span>
                <input type="text" id="new_zoomify_height" value="" class="input-small"> 
            </div>
        </div>       
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <a href="#" class="btn btn-primary">Create</a>
    </div>
</div>

<div id="embed_modal" class="modal hide fade" role="dialog" aria-hidden="true">
    <div class="modal-body">
        <p>Copy this code and paste it on your site where you want your StoryMap to appear.</p>
        <textarea rows="8"></textarea>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Done</button>
    </div>
</div>

<div id="upload_modal" class="modal hide fade" role="dialog" aria-hidden="true">
    <div class="modal-body">
        <small class="error"></small>
        <p>Select an image file to upload to your Google Drive.</p>
        <div style="position:relative;">
            <form class="form-inline">
            <a id="upload_choose" class="btn" href="javascript:">
            Choose File...
            <input type="file" id="upload_file" accept="image/*" name="file_source" size="40">
            </a>
            &nbsp;
            <label id="upload_file_info"></label>
            </form>
        </div>
        <div id="upload_conflict">
            <p>A file with the same name already exists.</p>
            <label class="radio">
                <input type="radio" id="upload_replace" name="upload_as" value="replace">Replace existing file
            </label>
            <div>
            <label class="radio inline" style="vertical-align: text-bottom;">
                <input type="radio" id="upload_rename" name="upload_as" value="rename">Save file as:
            </label>
            <input id="upload_name" type="text" size="40"  style="margin-left: 4px;margin-bottom: 4px;">
            </div>
        </div>
        <div id="upload_progress">
            <p>
            <i class="icon-spinner icon-spin"></i><span id="upload_progress_msg">my progress</span>
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:;" class="btn" data-dismiss="modal">Cancel</a>
        <a href="javascript:;" id="upload_upload" class="btn btn-primary">Upload</a>
    </div>
</div>

