<div id="error_modal" class="modal hide fade" role="dialog" aria-hidden="true">
    <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <p><span id="error_msg"> </span></p>
   </div>
</div>

<div id="progress_modal" class="modal hide fade" role="dialog" aria-hidden="true">
    <div class="modal-body">
        <p><i class="icon-spinner icon-spin"></i><span id="progress_msg"></span>...</p>
    </div>
</div>

<div id="confirm_modal" class="modal hide fade" role="dialog" aria-hidden="true">
    <div class="modal-body">
        <p id="confirm_msg"></p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-primary">Delete</button>
    </div>
</div>

<div id="message_modal" class="modal hide fade" role="dialog" aria-hidden="true">
    <div class="modal-body">
        <p id="message_msg"></p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">OK</button>
    </div>
</div>

<div id="new_modal" class="modal hide fade" role="dialog" aria-hidden="true">
    <div class="modal-body">
        <p class="error"> </p>
        <input type="text" id="new_name" value="" placeholder="Enter a unique name for your StoryMap" style="width: 95%;" />       
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <a href="#" class="btn btn-primary">Create</a>
    </div>
</div>

<div id="embed_modal" class="modal hide fade" role="dialog" aria-hidden="true">
    <div class="modal-body">
        <p>Copy this code and paste it on your site where you want your StoryMap to appear.</p>
        <textarea rows="8"></textarea>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Done</button>
    </div>
</div>
