{% extends "_base.html" %}
{% block title %}Technical Details - {% endblock %}
{% block content %}
<div class="container">
<div class="row-fluid">
    <div class="span12">
      <h2>StoryMapJS for Technical Users</h2>
      <p>Most users will probably use the <a href="/select.html">StoryMapJS authoring tool</a> to create their StoryMaps. But if you want maximum control over StoryMapJS, read on.
      </p>
      <h3>Managing StoryMapJS data</h3>
      <p>
        StoryMapJS uses JSON data as its native data format. You can load the data from a file on the web, or you can create a javascript object by any other means you like. Of course, if you are loading the data from a URL, it must either be on the same server as the page where you are displaying the StoryMap or from a server with correctly configured CORS headers. (The details of cross-domain origin restrictions are out of scope for this document.)
      </p>
      <p>
        Complete details on the JSON syntax for StoryMapJS is <a href="#json-syntax">below</a>.
      </p>
      
      <h3>Setting up your page</h3>
      <p>
        You'll need to include code something like the following.
        <pre class="prettyprint">
          &lt;!-- The StoryMap container can go anywhere on the page --&gt;
          &lt;div id="my-storymap-will-go-here"&gt;&lt;/div&gt; 
          &lt;!-- Your script tags should be at the bottom of the page just before the closing body tag --&gt;
          &lt;script src="http://cdn.knightlab.com/libs/storymapjs/latest/js/storymap-min.js"&gt;&lt;/script&gt;
          &lt;script&gt;
            var storymap_data = 'http://storymap.knightlab.com/static/demo/demo.json'; // This can also be a javascript object.
            var storymap = new VCO.StoryMap('my-storymap-will-go-here', storymap_data);
            window.onresize = function(event) {
             storymap.updateDisplay();
            }
          &lt;/script&gt;
        </pre>
      </p>

      <h3 id="json-syntax">JSON syntax</h3>
      <p>
        StoryMapJS is still in beta, so the JSON format is subject to change. Most changes should be additions which are backwards compatible. Here are the details for now.
      </p>
      <p>
        A StoryMapJS javascript object has (for now) a single property<sup>*</sup>, <code>storymap</code>, which has for a value another object. This object can have the following properties, described in more detail below. To illustrate:
      <pre class="prettyprint lang-js">{ storymap: { language: 'en', map_type: 'stamen:terrain', slides: [ {...}, {...}, {...} ] } }</pre>

      </p>
      <ul>
        <li><code>slides</code> - an array of objects with valid properties described below</li>
        <li><code>language</code> - a two-letter ISO code for the language used for the interface and messages. Currently, StoryMap supports <code>en</code> (English) and <code>es</code> (Spanish).</li>
        <li><code>map_type</code> - either a coded value for a supported map type, or a map tile URL. Supported map type codes are
          <ul>
            <li><code>stamen:toner</a></code> - the default<a href="http://maps.stamen.com/toner/#16/42.0502/-87.6746" target="_blank" title="example"><i class="icon-external-link"></i></a></li>
            <li><code>stamen:toner-lines</code> - just the lines (mostly roads) from the Toner style<a href="http://maps.stamen.com/toner-lines/#16/42.0502/-87.6746" target="_blank" title="example"><i class="icon-external-link"></i></a></li>
            <li><code>stamen:toner-labels</code> - just the labels (place names and roads) from the Toner style<a href="http://maps.stamen.com/toner-labels/#16/42.0502/-87.6746" target="_blank" title="example"><i class="icon-external-link"></i></a></li>
            <li><code>stamen:terrain</code> - a map with roads as well as some natural features<a href="http://maps.stamen.com/terrain/#16/42.0502/-87.6746" target="_blank" title="example"><i class="icon-external-link"></i></a></li>
            <li><code>stamen:watercolor</code> - an artistic representation<a href="http://maps.stamen.com/watercolor/#16/42.0502/-87.6746" target="_blank" title="example"><i class="icon-external-link"></i></a></li>
            <li><code>osm:standard</code> - the maps used by OpenStreetMap<a href="http://www.openstreetmap.org/#map=16/42.0502/-87.6746" target="_blank" title="example"><i class="icon-external-link"></i></a></li>
          </ul>
          <p>
            In addition to the above values, you can specify a custom URL tile template <a href="http://leafletjs.com/reference.html#tilelayer" target="_blank">as described in the Leaflet documentation</a>.
          </p> 
        </li>
        <li><code>map_subdomains</code> - only relevant if you specify a custom URL tile template as described above. Specified as a string where each character is a valid subdomain substitution, or array of strings.</li>
      </ul>
      </p>
      <small><sup>*</sup>If you look at the JSON created by the StoryMapJS authoring tool, you will also find 'width' and 'height' values alongside the <code>storymap</code> value. These are only used by the embed tool; normally when writing your own JSON you will also write the CSS or JavaScript to control the width and height of your map.</small>
      <h4>'slide' properties</h4>
      <p>
        Technically, all of these properties are optional. StoryMapJS will try to adapt appropriately.
      </p>
      <ul>
        <li><code>type</code> - most slides will not have a type: you can either leave it out or make it blank. There is one valid non-blank value: <code>overview</code>. If a slide is of type 'overview', then the map will be shown so that all locations in the configuration are visible at once. This is recommended for your first and/or last slide.</li>
        <li><code>location</code> - required for all slides, except for 'overview' slides; a javascript object with the following properties. 
          <ul>
            <li><code>name</code> A name or description of the place. Shown in the next/previous navigation. </li>
            <li><code>lat</code> - the latitude of the point for the map. Use decimal notation, with negative numbers for western latitudes</li>
            <li><code>lon</code> - the latitude of the point for the map. Use decimal notation, with negative numbers for southern longitudes</li>
            <li><code>zoom</code> - the map zoom level desired for the slide. An integer, where lower values are "further" and higher values are "closer" to the ground. Technically, the maximum value is a property of the specific tile set you are using; zoom levels above 19 are rarely supported.</li>
            <li><code>line</code> - a boolean value. If true, this point will be included on a line connected to all other points with "true" values for line. Separately from this value, as a user navigates through a story, StoryMapJS will draw a darker "active" line connecting the current location to the previous location in the story. (Is this the behavior you expect? You can give us feedback) </li>
          </ul>
        </li>
        <li><code>text</code> - optional. If omitted, the content of the 'media' (described below) will be centered on the slide; a javascript object with the following properties.
          <ul>
            <li><code>headline</code> - self-explanatory</li>
            <li><code>text</code> - text to explain this part of your story; this can contain HTML</li>
          </ul>
        </li>
        <li><code>media</code> - optional. If omitted, the content of the 'text' (described above) will be centered on the slide; a javascript object with the following properties.
          <ul>
            <li><code>url</code> - a URL for the media to be featured. Can be any of several services, including YouTube, Flickr, Vimeo, Twitter, and more. You can get an overview of supported media types by looking at the <a href="https://github.com/NUKnightLab/StoryMapJS/blob/master/source/js/media/VCO.MediaType.js">StoryMapJS source code</a></li>
            <li><code>caption</code> - optional; a brief explanation of the media content.</li>
            <li><code>credit</code> - optional; the name of the person or organization who created the media content.</li>
          </ul>
        </li>
      </ul>
    </div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
{% endblock %}

