{% extends "_base.html" %}
{% block title %}TITLE (Editing) - {% endblock %}
{% block head %}
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<!-- start google maps -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<!-- end google maps -->
<!-- start maps.stamen.com -->
<script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.2.4"></script>
<!-- end maps.stamen.com -->
<!-- start bootstrap-wysihtml5 -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/bootstrap-wysihtml5/bootstrap-wysihtml5-0.0.2.css"></link>
<script type="text/javascript" src="{{ STATIC_URL }}/bootstrap-wysihtml5/lib/js/wysihtml5-0.3.0.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/bootstrap-wysihtml5/bootstrap-wysihtml5-0.0.2.min.js"></script>
<!-- end bootstrap-wysihtml5 -->
<!-- START Moment.js -->
<script src="{{ STATIC_URL }}/js/moment.min.js"></script>
<script src="{{ STATIC_URL }}/js/moment-timezone.min.js"></script>
<script src="{{ STATIC_URL }}/js/moment-timezone-data.js"></script>
<!-- END Moment.js -->
<script type="text/javascript" src="{{ STATIC_URL }}/js/tool.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/js/gdrive.js"></script>
<link rel="stylesheet" type="text/css" href="{{ static_url }}/css/tool.css">
{% endblock %}

{% block content %}

{% include '_modals.html' %}

<section id="editor" class="container"> 
<div class="row">
    <div class="span12">
        <ul class="breadcrumb">
        <li><a href="select.html">My Projects</a> <span class="divider">/</span></li>
        <li id="title" class="active"></li>
        </ul>
    </div>
</div>

<div class="row edit-row slides-row">
    <div class="overview-container">
        <div class="slide">
            <div class="slide-icon">&nbsp;</div>
            <div class="slide-title">Title</div>
        </div>
    </div>
    <div class="add-container">
        <p>
        <a id="slide_add" href="javascript:"><i class="icon-plus icon-large"></i> Add Slide</a>
        </p>
        <p>
        <a id="storymap_option_link" href="javascript:" onclick="storymap_options()"><i class="icon-cog icon-large"></i> <span>Show Options</span></a>
        </p>
    </div>
    <div class="slides-container">
        <ul id="slides">            
        </ul>
    </div>
</div>

<div class="row edit-row option-row hide">
    <div class="span12">
        <p class="ui-note" id="option-settings-note">Option settings affect your whole StoryMap.</p>
        <form class="form-horizontal"> 
            <div class="control-group">
                <label class="control-label">Size</label>
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on">Width</span>
                        <input type="text" id="width" value="" class="input-mini"> 
                    </div>
                     <div class="input-prepend">
                        <span class="add-on">Height</span>
                        <input type="text" id="height" value="" class="input-mini"> 
                    </div>
                </div>
            </div>

             <div class="control-group">
                <label class="control-label">Map Type</label>
                <div class="controls">
                    <div class="input-prepend">
                        <div class="btn-group">
                            <button class="btn dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                                <span class="caret"></span>
                            </button>
                            <ul id="map_type_menu" class="dropdown-menu" role="menu">
                                <li><a href="javascript:" storymap-data="stamen:toner">Stamen Maps: Toner</a></li>
                                <li><a href="javascript:" storymap-data="stamen:toner-lines">Stamen Maps: Toner Lines</a></li>
                                <li><a href="javascript:" storymap-data="stamen:toner-labels">Stamen Maps: Toner Labels</a></li>
                                <li><a href="javascript:" storymap-data="stamen:watercolor">Stamen Maps: Watercolor</a></li>
                                <li><a href="javascript:" storymap-data="stamen:terrain">Stamen Maps: Terrain</a></li>
                                <li><a href="javascript:" storymap-data="osm:standard">Open Street Maps: Standard</a></li>
                                <li><a href="javascript:" storymap-data="">custom URL...</a></li>
                            </ul>
                        </div>
                        <input id="map_type" type="text" class="span5" placeholder="http://{s}.domain.org/{z}/{x}/{y}.png" disabled>
                    </div>
                    <div class="input-prepend">
                        <span class="add-on">Subdomains</span>
                        <input id="map_subdomains" type="text" class="input-small" placeholder="abc">                    
                    </div>
                    <a class="help" href="javascript:"
                        data-html="true"
                        data-placement="left"
                        data-content='
                        <p>Select a predefined map tile type, or select "custom URL" to enter the URL for a tile server.</p>
                        <p>If the tile server supports multiple subdomains, enter them as a single string in the 
                        Subdomain field (e.g. subdomains "a", "b", and "c" should be entered as "abc").</p>
                        ' 
                    >&nbsp;<i class="icon-question-sign icon-large"></i>
                    </a>
                </div>
            </div>
            
             <div class="control-group">
                <label class="control-label">Language</label>
                <div class="controls">
                    <select id="language">
                        <option value="en">English</option>
                        <option value="de">German</option>
                        <option value="it">Italian</option>
                        <option value="pl">Polish</option>
                        <option value="es">Spanish</option>
                    </select>
                    <a class="help" href="javascript:"
                        data-placement="left"
                        data-content="Select the language to use in controls and messages when displaying your StoryMap."                    
                    >&nbsp;<i class="icon-question-sign icon-large"></i></a>
                </div>
            </div>      
        </form>
    </div>
</div>

<div class="row edit-row map-row">
    <div id="map"></div>
    <!-- polyline overlay -->
    <svg id="map_overlay" xmlns="http://www.w3.org/2000/svg" version="1.1">
        <polyline points="" />
    </svg>
    <div id="map_info" class="ui-note">This is your title slide.  The title slide shows all points from your other slides.</div>
    <input id="map_search_input" type="text" placeholder="Search">
</div>

<div class="row edit-row data-row">
    <div class="span6" style="">                     
        <div class="data-frame" style="border-color: white;">
            <label>Headline</label>
            <input id="headline" type="text" />

            <label>Text <a class="help" href="javascript:"
                data-placement="right"
                data-content="Enter the text for your slide.  Switch between WYSIWYG and HTML modes by using the &lt;/&gt; button."
            >&nbsp;<i class="icon-question-sign icon-large"></i></a></label>
            <div class="text-container">
            <textarea id="text" rows="5"></textarea>  
            </div>
        </div>
    </div>
    <div class="span6" style="">
        <div class="data-frame">
            <label>Media <a class="help" href="javascript:"
                data-placement="left"
                data-content="Enter the URL for your media.  It can come from Flickr, YouTube, Vimeo, Twitter, and more."
            >&nbsp;<i class="icon-question-sign icon-large"></i></a></label> 
            <input id="url" type="text" placeholder="URL to media (YouTube, Flickr, etc.)" />

            <label>Credit</label>
            <input id="credit" type="text" />
        
            <label>Caption</label>
            <textarea id="caption" rows="3"></textarea>
        </div>
    </div>
</div>

<div class="row control-row">
    <button id="storymap_publish" class="btn">Publish</button>
    <button id="storymap_preview" class="btn">Preview</button>
    <button id="storymap_save" class="btn disabled">Save</button>
    <div id='saved' class="hide">
        <span class="smaller"> </span>
    </div>
    <div id='saving' class="hide">
        <span class="smaller">Saving...</span><i class="icon-spinner icon-spin" style="margin-top: 9px;"></i>
    </div>
</div>
</section>

<!-- START BOOTSTRAP-WYSIHTML5 BUTTON TEMPLATES -->
<ul id="wysihtml5_emphasis" style="display: none;">
    <li>
    <div class="btn-group">
    <a class="btn btn-small" data-wysihtml5-command="bold" title="Bold" tabindex="-1" href="javascript:;" unselectable="on"><i class="icon-bold"></i></a>
    <a class="btn btn-small" data-wysihtml5-command="italic" title="Italic" tabindex="-1" href="javascript:;" unselectable="on"><i class="icon-italic"></i></a>
    </div>
    </li>
</ul>
<ul id="wysihtml5_link" style="display: none;">
<li>
    <div class="bootstrap-wysihtml5-insert-link-modal modal hide fade">
    <div class="modal-body">
    <p><input value="http://" class="bootstrap-wysihtml5-insert-link-url input-xlarge"></p>
    <label class="checkbox"> <input type="checkbox" class="bootstrap-wysihtml5-insert-link-target" checked="">Open link in new window</label>
    </div>
    <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a><a href="#" class="btn btn-primary" data-dismiss="modal">Insert link</a>
    </div>
    </div>
    <a class="btn btn-small" data-wysihtml5-command="createLink" title="Insert link" tabindex="-1" href="javascript:;" unselectable="on"><i class="icon-link"></i></a>
</li>      
</ul>
<ul id="wysihtml5_html" style="display: none;">
<li>
    <div class="btn-group">
    <a class="btn btn-small" data-wysihtml5-action="change_view" title="Edit HTML" tabindex="-1" href="javascript:;" unselectable="on">&lt;/&gt;</a>
    </div>
</li>
</ul>
<!-- END BOOTSTRAP-WYSIHTML5 BUTTON TEMPLATES -->

<script type="text/javascript">

var _embed_url = 'http://cdn.knightlab.com/libs/storymapjs/latest/embed/';

// If under local development, use source page
switch(document.location.hostname) {
    case '127.0.0.1':
    case '0.0.0.0':
    case 'localhost':
        _embed_url = '/source/embed/index.html';
        break;
}  

var _default_width = '100%';
var _default_height = '800';
var _default_map_type = 'stamen:toner';
var _default_language = 'en';

var _re_slide_cls = /^slide-icon-\w+$/;

var _map;
var _map_zoom_listener;
var _map_overlay;
var _map_markers = [];

var _storymap_info; // folder 
var _storymap_data; // { width: n, height: n, ..., storymap: { } }
var _slides = null; // _storymap_data.storymap.slides

var _current_slide_index = -1;

var _dirty = 0;

//
// Custom overlay for path
//
function get_map_overlay(map, path) {
    var ov = new google.maps.OverlayView();   
    var div = null;
    
    ov.onAdd = function() {
        div = document.createElement('div');
        div.style.position = 'absolute';
 
        var panes = this.getPanes();
        panes.overlayImage.appendChild(div);    
        
        $('#map_overlay').show();
    };

    ov.draw = function() {
        div.style.left = '0px';
        div.style.top = '0px';
        div.style.width = $(map.getDiv()).width()+'px';
        div.style.height = $(map.getDiv()).height()+'px';
  
        var overlayProjection = this.getProjection();
 
        var points = [];   
        for(var i = 0; i < path.length; i++) {
            var pixel = overlayProjection.fromLatLngToContainerPixel(path[i]);
            points.push(pixel.x+','+pixel.y);
        }       
        $('#map_overlay polyline').attr('points', points.join(' '));
    };

    ov.onRemove = function() {
        div.parentNode.removeChild(div);
        div = null;
        $('#map_overlay polyline').attr('points', '');
        $('#map_overlay').hide();
    };
    
    ov.setMap(map);
    
    return ov;
}

function map_clear_overlays() {
    if(_map_overlay) {
        _map_overlay.setMap(null);
        _map_overlay = null;
    }
    for(var i = _map_markers.length - 1; i >= 0; i--) {
        _map_markers[i].setMap(null);
    }    
    _map_markers = [];
}

function map_set_type() {    
    var map_type = (_storymap_data.storymap.map_type || '').toLowerCase();
    var map_subdomains = (_storymap_data.storymap.map_subdomains || 'a').split('');

    switch(map_type) {
        case "stamen:toner":
        case "stamen:toner-lines":
        case "stamen:toner-labels":
        case "stamen:watercolor":
        case "stamen:terrain":
        case "osm:standard":
            _map.setOptions({mapTypeId: map_type});
            break;
            
        default:
            if(map_type && map_type.match("http://")) {
                 _map.mapTypes.set("custom", new google.maps.ImageMapType({
                    getTileUrl: function(coord, zoom) {
                        var index = (coord.x + coord.y) % map_subdomains.length;                        
                        return map_type
                            .replace('{s}', map_subdomains[index])
                            .replace('{z}', zoom)
                            .replace('{x}', coord.x)
                            .replace('{y}', coord.y);
                    },
                    tileSize: new google.maps.Size(256, 256),
                    name: "Custom",
                    maxZoom: 18
                }));

                _map.setOptions({mapTypeId: 'custom'});             
            } else {
                _map.setOptions({mapTypeId: _default_map_type});
            }            
            break;            
    }
}

function location_set(slide_index, data) {    
    $.extend(_slides[slide_index].location, data);      
    storymap_dirty(1);
}

function location_drag() {
    var pos = _map_markers[0].getPosition();
    location_set(_current_slide_index, {lat: pos.lat(), lon: pos.lng()});
}

function location_zoom() {
    location_set(_current_slide_index, {zoom: _map.getZoom()});
}

function location_mark(data) {
    map_clear_overlays();

    if(data) {
        var latlng = new google.maps.LatLng(data.lat, data.lon);

        _map.panTo(latlng);
    
        _map_markers[0] = new google.maps.Marker({
            map: _map,
            draggable: true,
            position: latlng
        });
        google.maps.event.addListener(_map_markers[0], 'dragend', location_drag);
    } 
}

function slide_set_class(slide_index) {    
    // Get slide icon
    var elem = $('.slide-icon').eq(slide_index);
    
    // Remove old slide-icon-* class
    elem.removeClass(function(i, cls) {
        return cls.split(' ')
            .filter(function(val) { return _re_slide_cls.test(val); })
            .join(' ');
    });
    
    // Add new class
    var data = _slides[slide_index];
    var url = (data.media) ? (data.media.url || '') : '';
    if(url) {
        var media = VCO.MediaType({'url': url});     
        if(media.type) {
            elem.addClass('slide-icon-'+media.type);
        }
    } 
}

function slide_append_element(data) {
    var slide_index = $('.slide').length;
              
    var slide_elem = $(''
            + '<li class="slide">'
            + '<div class="slide-icon">&nbsp;</div>'
            + '<div class="slide-title">'
            + ((data.text) ? (data.text.headline || "(untitled)") : "(untitled)")
            + '</div>'
            + '</li>')
        .appendTo('#slides')
        .click(slide_select);

    $('<a class="close" href="javascript:">&nbsp;</a>')
        .appendTo(slide_elem)
        .click(slide_delete); 
 
    slide_set_class(slide_index);
        
    return slide_elem;
}

function slide_select(event) {  
    $(':focus').blur(); // force change event!
 
    storymap_auto_save();
    
    $('.slide.selected').removeClass('selected');    
    $(this).addClass('selected');
        
    _current_slide_index = $('.slide').index(this);
    var data = _slides[_current_slide_index];

    if(_map_zoom_listener) {
        google.maps.event.removeListener(_map_zoom_listener);
        _map_zoom_listener = null;
    }     
    map_clear_overlays();
    
    if(data.type == "overview") {
        $('#map_info').show();
        $('#map_search_input').hide();
        _map.setOptions({panControl: false, zoomControl: false});
                
        // Show overview view
        if(_slides.length > 1) {
            var latlngbounds = new google.maps.LatLngBounds();      
            var path = [];
          
            for(var i = 0; i < _slides.length;i++) {                
                if(_slides[i].hasOwnProperty('location')) {                    
                    var loc_data = _slides[i].location;
                    
                    if(loc_data.lat && loc_data.lon) {
                        var latlng = new google.maps.LatLng(loc_data.lat, loc_data.lon);
            
                        var marker = new google.maps.Marker({
                            map: _map,
                            draggable: true,
                            position: latlng
                        });
                        _map_markers.push(marker);
                                        
                        latlngbounds.extend(latlng);           
                        path.push(latlng);
                     }
                }
            }
            _map.fitBounds(latlngbounds);
                
            _map_overlay = get_map_overlay(_map, path);
        } else {
            var latlngbounds = new google.maps.LatLngBounds(
                new google.maps.LatLng(24.0, -124.47),
                new google.maps.LatLng(49.3843, -55.56)
            );
            _map.fitBounds(latlngbounds);
        }
     } else {
        $('#map_info').hide();
        $('#map_search_input').show();   
        _map.setOptions({panControl: true, zoomControl: true});

        _map.setZoom(data.location.zoom);   
        _map_zoom_listener = google.maps.event.addListener(_map, 'zoom_changed', location_zoom);
 
        location_mark(data.location);       
    }
      
    $('#url').val(data.media ? (data.media.url || '') : '');
    $('#credit').val(data.media ? (data.media.credit || '') : '');
    $('#caption').val(data.media ? (data.media.caption || '') : '');
        
    $('#headline').val(data.text ? (data.text.headline || '') : '');
    $('#text').val(data.text ? (data.text.text || '') : '');    
    $('iframe.wysihtml5-sandbox').contents().find('body').html(data.text ? (data.text.text || '') : '');
}

function slide_delete(event) {
    var slide_elem = $(this).closest('.slide');
    var slide_index = $('.slide').index(slide_elem);
    
    var data = _slides[slide_index];
    var slide_title = ((data.text) ? (data.text.headline || "(untitled)") : "(untitled)");
    
    show_confirm('Delete "'+slide_title+'" slide?', function() {
        var width = $('#slides').width() - slide_elem.outerWidth(true);
          
        // Delete the slide data
        _slides.splice(slide_index, 1); 
        storymap_dirty(1);    
            
        // Remove DOM element
        slide_elem.remove();
        
        // Adjust slide container width
        $('#slides').css('width', width+"px");       
                             
        // Reset current slide
        if(slide_index < _current_slide_index) {
            _current_slide_index--;
            storymap_auto_save();
        } else if(slide_index == _current_slide_index) {
            var n = Math.min(_current_slide_index, _slides.length - 1);            
            $('.slide').eq(n).click();
        }        
    });
    
    return false;
}

function slide_add() {
    var data = {
        date: "",
        text: {headline: "", text: ""},
        media: {url: "", credit: "", caption: ""}
    };

    var n = _slides.length; 
    
    // Add location data if not overview slide, else add type 
    if(n > 0) {
        data.location =  $.extend({}, _slides[n - 1].location || {
            lat: "41.850033",
            lon: "-87.6500523",
            zoom: 10,
            line: true,
            icon: "http://maps.gstatic.com/intl/en_us/mapfiles/ms/micons/blue-pushpin.png"
        });
    } else {
        data.type = "overview";
    }   
    
    // Add slide 
    _slides.push(data);
    storymap_dirty(1);

    // Add slide element if not adding overview slide
    if(n > 0) {
        var slide = slide_append_element(data);
            
        // Adjust slide container width
        var width = $('#slides').width() + slide.outerWidth(true);
        $('#slides').css('width', width+"px");
    
        // Scroll new slide into view
        $('.slides-container').scrollLeft(Math.max(0, width - $('#slides').parent().width()));
    } else {
        slide_set_class(0);
    }
    
    // Select new slide
    $('.slide:last').click();
}   

function slides_load() {
    if(!_map || !_slides) {
        return;
    }

    $('#width').val(_storymap_data.width || _default_width);
    $('#height').val(_storymap_data.height || _default_height);
   
    var map_type = _storymap_data.storymap.map_type || _default_map_type;
    switch(map_type) {
        case "stamen:toner":
        case "stamen:toner-lines":
        case "stamen:toner-labels":
        case "stamen:watercolor":
        case "stamen:terrain":
            $('#map_type').val(map_type).attr('disabled', true);
            $('#map_subdomains').val('').attr('disabled', true).parent().hide();
            break;
        
        default:
            $('#map_type').val(map_type).removeAttr('disabled');
            $('#map_subdomains').val(_storymap_data.storymap.map_subdomains || '').removeAttr('disabled').parent().show();
            break;    
    }
    map_set_type();
               
    $('#language').val(_storymap_data.storymap.language || _default_language);
    
    // Slides 1,...,n
    $('#slides').html();  
              
    for(var i = 1; i < _slides.length; i++) {
        slide_append_element(_slides[i]);
    }
    
    var width = 0;
    $('#slides .slide').each(function() {
        width += $(this).outerWidth(true);
    })   
    $('#slides').css('width', width + "px");
          
    if(_slides.length > 0) {
        slide_set_class(0);
        $('.slide:first').click();  
    } else {
        slide_add();
    }   
    
    hide_progress();
}

function storymap_options() {
    if($('.option-row').is(':visible')) {
        $('.option-row').hide();
        $('#storymap_option_link span').html('Show Options');
    } else {
        $('.option-row').show();
        $('#storymap_option_link span').html('Hide Options');
    }
}

function storymap_dirty(is_dirty) {
    _dirty = is_dirty;
    
    if(is_dirty) {
        $('#storymap_save').removeClass('disabled').addClass('btn-primary');
        $('#storymap_preview').addClass('disabled');
        $('#storymap_publish').addClass('disabled').removeClass('btn-primary');
    } else {
        $('#storymap_save').addClass('disabled').removeClass('btn-primary');
        $('#storymap_preview').removeClass('disabled');
        $('#storymap_publish').removeClass('disabled').addClass('btn-primary');
    }
}

function storymap_saved_msg() {
    $('#saving').hide();    
    $('#saved span').html('Saved on '+format_dt(_storymap_info.draft_on));
    $('#saved').show();
}

function storymap_save() {
    $('#storymap_save').addClass('disabled').removeClass('btn-primary');    
    $('#saved').hide();
    $('#saving').show();
    
    gdrive_storymap_save_draft(_storymap_info, _storymap_data, function(error, file) {
        if(error) {
            $('#storymap_save').removeClass('disabled').addClass('btn-primary');
            show_error('Error saving storymap: '+(error.message || error));
       } else {
            storymap_dirty(0);
       }
       
       storymap_saved_msg();
    });
}

function storymap_auto_save() {
    if(_dirty) {
        storymap_save();
    }
}

function storymap_preview() {
    var preview_url = _embed_url
        + '?url='+gdrive_storymap_draft_url(_storymap_info)
        + '&start_at_slide='+_current_slide_index;     
    window.open(preview_url, 'StoryMap Preview');
}

function storymap_publish() {
    if(_dirty) {
        show_progress('Saving StoryMap');
        
        gdrive_storymap_save_draft(_storymap_info, _storymap_data, function(error, file) {
            if(error) {
                show_error('Error saving storymap: '+(error.message || error));                
            } else {
                storymap_dirty(0);
                storymap_publish();
            }
        });
    } else {
        show_progress('Publishing StoryMap');
        
        gdrive_storymap_publish(_storymap_info, function(error, file) {
            if(error) {
                show_error('Error publishing StoryMap: '+ (error.message || error));
            } else {
                hide_progress();
                
                var url = gdrive_storymap_published_url(_storymap_info);
                var html = '<iframe src="'+_embed_url+'?url='+url+'" frameborder="0"'
                    + ' width="'+(_storymap_data.width || _default_width)+'"'
                    + ' height="'+(_storymap_data.height || _default_height)+'"'
                    + '></iframe>';
                
                $('#embed_modal textarea').html(html);
                $('#embed_modal').modal('show');
            }
        });
    }
}

window.onbeforeunload = function confirmExit() {
    if(_dirty) {
        return "You have unsaved changes, and your changes will be lost."
            + "  Are you sure you want to exit this page?";
    }
}


function map_init() {
    var map = new google.maps.Map(document.getElementById('map'), {
        disableDoubleClickZoom: true,
        mapTypeControl: false,
        panControl: true,
        scrollwheel: false,
        streetViewControl: false,
        zoomControl: true,
        zoomControlOptions: {
            style: google.maps.ZoomControlStyle.SMALL
        },
        mapTypeId: _default_map_type
    });
             
    google.maps.event.addListener(map, 'dblclick', function(event) {
        var loc_data = {
            lat: event.latLng.lat(),
            lon: event.latLng.lng()
        };
        
        location_mark(loc_data);
        location_set(_current_slide_index, loc_data);
    });
    
    
    // preset stamen map types
    map.mapTypes.set("stamen:toner", new google.maps.StamenMapType("toner"))
    map.mapTypes.set("stamen:toner-lines", new google.maps.StamenMapType("toner-lines"))
    map.mapTypes.set("stamen:toner-labels", new google.maps.StamenMapType("toner-labels"))
    map.mapTypes.set("stamen:terrain", new google.maps.StamenMapType("terrain"))
    map.mapTypes.set("stamen:watercolor", new google.maps.StamenMapType("watercolor"))
    map.mapTypes.set("osm:standard",new google.maps.OSMMapType());

    // Make search box
    map_search_box = new google.maps.places.SearchBox(
        document.getElementById('map_search_input'));

    google.maps.event.addListener(map_search_box, 'places_changed', function() {
        var places = map_search_box.getPlaces();
        
        if(places.length) {
            var place = places[0];
            
            var loc_data = {
                lat: place.geometry.location.lat(),
                lon: place.geometry.location.lng()
            };
            
            location_mark(loc_data);
            location_set(_current_slide_index, loc_data);
         } 
    });
    
    
    _map = map;
    
    // LOAD SLIDES
    slides_load();
}

function storymap_init() {
    show_progress('Loading StoryMap');
    
    var params = parseQueryString();
    if(!params.id) {
        hide_progress();

        show_message('Could not load StoryMap.  Expected "id" parameter.', function() {
            document.location.href = 'select.html';           
        });
    } else {
        // Load storymap folder
        gdrive_storymap_load(params.id, function(error, storymapFolder) {
            if(error) {
                show_error('Error loading StoryMap: '+(error.message || error));
            } else {
                _storymap_info = storymapFolder;
                storymap_saved_msg();
                               
                $('#title').html(_storymap_info.title);
                document.title = document.title.replace("TITLE", _storymap_info.title);
                // Load draft
                gdrive_storymap_load_draft(storymapFolder, function(error, data) {
                    if(error) {
                        show_error('Error loading StoryMap data: '+(error.message || error));
                    } else {
                        _storymap_data = data;
                        _slides = _storymap_data.storymap.slides;
                    
                        // LOAD SLIDES
                        slides_load();
                    }
                });
            }
        });
    }
}

function handle_onload() {  
    show_progress('Checking authorization');

    gdrive_check_auth(function(authorized) {
        if(authorized) {
            gapi.client.load('drive', 'v2', storymap_init);
        } else {
            hide_progress();
            show_message('Could not load StoryMap.  You must (re)authorize this application.', function() {
                document.location.href = 'select.html';           
            });
        }
    });
}

$(function() {        
    $('a.help').popover({
        trigger: 'manual'
    }).click(function(event) {
        if(!$(this).next().hasClass('popover')) {
            $('a.help').not(this).popover('hide');
        }     
        $(this).popover('toggle');
        event.stopPropagation();
    });

    $(document).click(function(e) {
        $('a.help').popover('hide');
    });

    $('.overview-container .slide').click(slide_select);
    
    // top-level options
    $('#width, #height').change(function(event) {
        _storymap_data[$(this).attr('id')] = $(this).val().trim();
        storymap_dirty(1);
    });

    // storymap-level options
    $('#map_type_menu a').click(function(event) {
        var map_type = $(this).attr('storymap-data');
        
        if(map_type) {
            $('#map_type').val(map_type).attr('disabled', true);
            $('#map_subdomains').val('').attr('disabled', true).parent().hide();
            _storymap_data.storymap.map_type = map_type;
            _storymap_data.storymap.map_subdomains = '';
            storymap_dirty(1);
            map_set_type();
       } else {
            $('#map_type').val('').removeAttr('disabled').focus(); 
            $('#map_subdomains').val('').removeAttr('disabled').parent().show();
        }        
    });
    
    $('#map_type').change(function(event) {
        // normalize
        var map_type = $('#map_type').val().trim();
        map_type = map_type.replace('{Z}','{z}').replace('{X}','{x}').replace('{Y}','{y}').replace('{S}','{s}');
        $('#map_type').val(map_type);
        _storymap_data.storymap.map_type = map_type;
        storymap_dirty(1);
        map_set_type();        
    });
    
    $('#map_subdomains').change(function(event) {
        _storymap_data.storymap.map_subdomains = $('#map_subdomains').val().trim();
        storymap_dirty(1);
        map_set_type();        
    });
    
    $('#language').change(function(event) {
        _storymap_data.storymap['language'] = $(this).val();
        storymap_dirty(1);
     });
         
    // slide-level media options
    $('#url, #credit, #caption').change(function(event) { 
        var id = $(this).attr('id');
        _slides[_current_slide_index].media[id] = $(this).val().trim();
        storymap_dirty(1);
        
        if(id == 'url') {
            slide_set_class(_current_slide_index);
        }
    });

    // slide-level text options
    $('#headline').change(function() {
        var value = $(this).val().trim();
        _slides[_current_slide_index].text['headline'] = value;
        storymap_dirty(1);
        $('.slide-title').eq(_current_slide_index).html(value);
    });
    
    $('#text').wysihtml5({
        "stylesheets": ["{{ STATIC_URL }}/bootstrap-wysihtml5/lib/css/wysiwyg-color.css"],
        "font-styles": false,   // Font styling, e.g. h1, h2, etc. Default true
        "emphasis": true,       // Italics, bold, etc. Default true
        "lists": false,         // (Un)ordered lists, e.g. Bullets, Numbers. Default true
        "link": true,           // Button to insert a link. Default true
        "html": true,           // Button which allows you to edit the generated HTML. Default false
        "image": false,         // Button to insert an image. Default true,
        "color": false,         // Button to change color of font,
        customTemplates: {
            'emphasis': function(locale) { 
                return $('#wysihtml5_emphasis').html();
            },
            'link': function(locale) {
                return $('#wysihtml5_link').html();
            },
            'html': function(locale) {
                return $('#wysihtml5_html').html();
            }
        },
        'events': {
            'change': function() { 
                var val = $('#text').data("wysihtml5").editor.getValue().trim();
                _slides[_current_slide_index].text['text'] = val;
                storymap_dirty(1);
            }
        }
    });
        
    $('#slide_add').click(slide_add);
    $('#storymap_save').click(storymap_save);
    $('#storymap_preview').click(storymap_preview); 
    $('#storymap_publish').click(storymap_publish);   
       
    var sortable_i = 0;
    var sortable_j = 0;
    
    $('#slides').sortable({
        axis: 'x',
        cursor: 'move',
        items: '.slide',
        start: function(event, ui) {
            sortable_i = $('.slide').index(ui.item);
        },
        stop: function(event, ui) {
            sortable_j = $('.slide').index(ui.item);
                                  
            if(sortable_i != sortable_j) {
                // Move slide data from i to j
                _slides.move(sortable_i, sortable_j);

                 // Adjust current slide index
                _current_slide_index = $('.slide').index($('.slide.selected'));                
                
                storymap_dirty(1);
                storymap_auto_save();
            }             
        }
    });
});

google.maps.event.addDomListener(window, 'load', map_init);

</script>

<script type="text/javascript" src="https://apis.google.com/js/client.js?onload=handle_onload"></script>

{% endblock %}
