{% extends "_base.html" %}

{% block head %}
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<!-- start google maps -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<!-- end google maps -->
<!-- start bootstrap-wysihtml5 -->
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/bootstrap-wysihtml5/bootstrap-wysihtml5-0.0.2.css"></link>
<script type="text/javascript" src="{{ STATIC_URL }}/bootstrap-wysihtml5/lib/js/wysihtml5-0.3.0.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/bootstrap-wysihtml5/bootstrap-wysihtml5-0.0.2.min.js"></script>
<!-- end bootstrap-wysihtml5 -->
<!-- START Moment.js -->
<script src="{{ STATIC_URL }}/js/moment.min.js"></script>
<script src="{{ STATIC_URL }}/js/moment-timezone.min.js"></script>
<script src="{{ STATIC_URL }}/js/moment-timezone-data.js"></script>
<!-- END Moment.js -->
<script type="text/javascript" src="{{ STATIC_URL }}/js/tool.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/js/gdrive.js"></script>
<link rel="stylesheet" type="text/css" href="{{ static_url }}/css/tool.css">
{% endblock %}

{% block content %}

<section id="editor" class="container shrinktext"> 

<div class="row">
    <div class="span12">
        <p>
        <a href="select.html">&lt;&lt; My Projects</a>
        </p>
    </div>
</div>

<div class="row edit-row title-row">
    <h5 id="title"> </h5>
</div>

<div class="row edit-row slides-row">
    <div class="overview-container">
        <div class="slide">
            <div class="slide-icon">&nbsp;</div>
            <div class="slide-title">Title</div>
        </div>
        <
    </div>

    <div class="add-container">
        <a id="slide_add" href="javascript:"><i class="icon-plus icon-large"></i><br />Add Slide</a>
    </div>
    
    <div class="slides-container">
        <ul id="slides">            
        </ul>
    </div>
</div>

<div class="row edit-row map-row">
    <div id="map"></div>
    <div id="map_info">This is your title slide.  The title slide shows all points from your other slides.</div>
    <input id="map_search_input" type="text" placeholder="Search">
</div>

<div class="row edit-row data-row">
    <div class="span6" style="">                     
        <div class="data-frame" style="border-color: white;">
            <label>Headline</label>
            <input id="headline" type="text" />

            <label>Text</label>
            <div class="text-container">
            <textarea id="text" rows="5"></textarea>  
            </div>
        </div>
    </div>
    <div class="span6" style="">
        <div class="data-frame">
            <label>Media</label>
            <input id="url" type="text" placeholder="URL to media (YouTube, Flickr, etc.)" />

            <label>Credit</label>
            <input id="credit" type="text" />
        
            <label>Caption</label>
            <textarea id="caption" rows="3"></textarea>
        </div>
    </div>
</div>

<div class="row control-row">
    <button id="storymap_publish" class="btn">Publish</button>
    <button id="storymap_preview" class="btn">Preview</button>
    <button id="storymap_save" class="btn disabled">Save</button>
    <div id='saved' class="hide">
        <span class="smaller"> </span>
    </div>
    <div id='saving' class="hide">
        <span class="smaller">Saving...</span><i class="icon-spinner icon-spin" style="margin-top: 9px;"></i>
    </div>
</div>
</section>

<!-- START MODALS -->
<div id="error_modal" class="modal hide fade" role="dialog" aria-hidden="true">
    <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <p><span id="error_msg">Boo</span></p>
   </div>
</div>

<div id="progress_modal" class="modal hide fade" role="dialog" aria-hidden="true">
    <div class="modal-body">
        <p><i class="icon-spinner icon-spin"></i><span id="progress_msg"></span>...</p>
    </div>
</div>

<div id="confirm_modal" class="modal hide fade" role="dialog" aria-hidden="true">
    <div class="modal-body">
        <p id="confirm_msg"></p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-primary">Delete</button>
    </div>
</div>

<div id="message_modal" class="modal hide fade" role="dialog" aria-hidden="true">
    <div class="modal-body">
        <p id="message_msg"></p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">OK</button>
    </div>
</div>

<div id="embed_modal" class="modal hide fade" role="dialog" aria-hidden="true">
    <div class="modal-body">
        <p>Copy this code and paste it on your site where you want your StoryMap to appear.</p>
        <textarea rows="10"></textarea>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">OK</button>
    </div>
</div>

<!-- END MODALS -->
  
<!-- START BOOTSTRAP-WYSIHTML5 BUTTON TEMPLATES -->
<ul id="wysihtml5_emphasis" style="display: none;">
    <li>
    <div class="btn-group">
    <a class="btn btn-small" data-wysihtml5-command="bold" title="CTRL+B" tabindex="-1" href="javascript:;" unselectable="on"><i class="icon-bold"></i></a>
    <a class="btn btn-small" data-wysihtml5-command="italic" title="CTRL+I" tabindex="-1" href="javascript:;" unselectable="on"><i class="icon-italic"></i></a>
    </div>
    </li>
</ul>
<ul id="wysihtml5_link" style="display: none;">
<li>
    <div class="bootstrap-wysihtml5-insert-link-modal modal hide fade">
    <div class="modal-body">
    <p><input value="http://" class="bootstrap-wysihtml5-insert-link-url input-xlarge"></p>
    <label class="checkbox"> <input type="checkbox" class="bootstrap-wysihtml5-insert-link-target" checked="">Open link in new window</label>
    </div>
    <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a><a href="#" class="btn btn-primary" data-dismiss="modal">Insert link</a>
    </div>
    </div>
    <a class="btn btn-small" data-wysihtml5-command="createLink" title="Insert link" tabindex="-1" href="javascript:;" unselectable="on"><i class="icon-link"></i></a>
</li>      
</ul>
<ul id="wysihtml5_html" style="display: none;">
<li>
    <div class="btn-group">
    <a class="btn btn-small" data-wysihtml5-action="change_view" title="Edit HTML" tabindex="-1" href="javascript:;" unselectable="on">&lt;/&gt;</a>
    </div>
</li>
</ul>
<!-- END BOOTSTRAP-WYSIHTML5 BUTTON TEMPLATES -->

<script type="text/javascript">

var _re_slide_cls = /^slide-icon-\w+$/;

var _map;
var _map_zoom_listener;
var _map_markers = [];
var _map_line;

var _storymap_info;
var _storymap_data;
var _current_slide_index = -1;

var _dirty = 0;

var _slides_loaded = false;

function map_clear_overlays() {
    if(_map_line) {
        _map_line.setMap(null);
        _map_line = null;
    }
    for(var i = _map_markers.length - 1; i >= 0; i--) {
        _map_markers[i].setMap(null);
    }    
    _map_markers = [];
}

function location_set(slide_index, data) {    
    $.extend(_storymap_data.slides[slide_index].location, data);      
    storymap_dirty(1);
}

function location_drag() {
    var pos = _map_markers[0].getPosition();
    location_set(_current_slide_index, {lat: pos.lat(), lon: pos.lng()});
}

function location_zoom() {
    location_set(_current_slide_index, {zoom: _map.getZoom()});
}

function location_mark(data) {
    map_clear_overlays();

    if(data) {
        var latlng = new google.maps.LatLng(data.lat, data.lon);

        // Pan to location
        _map.panTo(latlng);
    
        // Add marker at location
        _map_markers[0] = new google.maps.Marker({
            map: _map,
            draggable: true,
            title: data.name,
            position: latlng
        });
        google.maps.event.addListener(_map_markers[0], 'dragend', location_drag);
    } 
}

function media_get_type(url) {
    if(url && url.length) {
        var media = VCO.MediaType({'url': url});     
        if(media.type) {
            return media.type;
        }
    } 
    return '';
}

function slide_set_class(slide_index) {    
    // Get slide icon
    var elem = $('.slide-icon').eq(slide_index);
    
    // Remove old slide-icon-* class
    elem.removeClass(function(i, cls) {
        return cls.split(' ')
            .filter(function(val) { return _re_slide_cls.test(val); })
            .join(' ');
    });
    
    // Add new class
    var data = _storymap_data.slides[slide_index];
    var type = media_get_type((data.media) ? (data.media.url || '') : '');
    if(type) {
        elem.addClass('slide-icon-'+type);
    }
}

function slide_append_element(data) {
    var slide_index = $('.slide').length;
              
    var slide_elem = $(''
            + '<li class="slide">'
            + '<div class="slide-icon">&nbsp;</div>'
            + '<div class="slide-title">'
            + ((data.text) ? (data.text.headline || "(untitled)") : "(untitled)")
            + '</div>'
            + '</li>')
        .appendTo('#slides')
        .click(slide_select);

    $('<a class="close" href="#">&nbsp;</a>')
        .appendTo(slide_elem)
        .click(slide_delete); 
 
    slide_set_class(slide_index);
        
    return slide_elem;
}

function slide_select(event) {  
    $(':focus').blur(); // force change event!
    
    $('.slide.selected').removeClass('selected');    
    $(this).addClass('selected');
        
    _current_slide_index = $('.slide').index(this);
    var data = _storymap_data.slides[_current_slide_index];

    if(_map_zoom_listener) {
        google.maps.event.removeListener(_map_zoom_listener);
        _map_zoom_listener = null;
    }     
    map_clear_overlays();
    
    if(data.type == "overview") {
        $('#map_info').show();
        $('#map_search_input').hide();
        _map.setOptions({panControl: false, zoomControl: false});
                 
        // Show overview view
        if(_storymap_data.slides.length > 1) {
            var latlngbounds = new google.maps.LatLngBounds();      
            var path = [];
        
            for(var i = 0; i < _storymap_data.slides.length;i++) {                
                if(_storymap_data.slides[i].hasOwnProperty('location')) {                    
                    var loc_data = _storymap_data.slides[i].location;
                    
                    if(loc_data.lat && loc_data.lon) {
                        var latlng = new google.maps.LatLng(loc_data.lat, loc_data.lon);
            
                        _map_markers.push(new google.maps.Marker({
                            map: _map,
                            draggable: false,
                            title: loc_data.name,
                            position: latlng
                        }));
                
                        latlngbounds.extend(latlng);           
                        path.push(latlng);
                     }
                }
            }
             
            _map.fitBounds(latlngbounds);
        
            _map_line = new google.maps.Polyline({
                path: path,
                strokeColor: "#cc0000",
                strokeOpacity: 1.0,
                strokeWeight: 1,
                map: _map
            });      
        } else {
            var latlngbounds = new google.maps.LatLngBounds(
                new google.maps.LatLng(24.0, -124.47),
                new google.maps.LatLng(49.3843, -55.56)
            );
            _map.fitBounds(latlngbounds);
        }
     } else {
        $('#map_info').hide();
        $('#map_search_input').show();   
        _map.setOptions({panControl: true, zoomControl: true});

        _map.setZoom(data.location.zoom);   
        _map_zoom_listener = google.maps.event.addListener(_map, 'zoom_changed', location_zoom);
 
        location_mark(data.location);       
    }
      
    $('#url').val(data.media ? (data.media.url || '') : '');
    $('#credit').val(data.media ? (data.media.credit || '') : '');
    $('#caption').val(data.media ? (data.media.caption || '') : '');
        
    $('#headline').val(data.text ? (data.text.headline || '') : '');
    $('#text').val(data.text ? (data.text.text || '') : '');    
    $('iframe.wysihtml5-sandbox').contents().find('body').html(data.text ? (data.text.text || '') : '');
}

function slide_delete(event) {
    var slide_elem = $(this).closest('.slide');
    var slide_index = $('.slide').index(slide_elem);
    
    var data = _storymap_data.slides[slide_index];
    var slide_title = ((data.text) ? (data.text.headline || "(untitled)") : "(untitled)");
    
    show_confirm('Delete "'+slide_title+'" slide?', function() {
        var width = $('#slides').width() - slide_elem.outerWidth(true);
          
        // Delete the slide data
        _storymap_data.slides.splice(slide_index, 1); 
        storymap_dirty(1);    
            
        // Remove DOM element
        slide_elem.remove();
        
        // Adjust slide container width
        $('#slides').css('width', width+"px");       
                             
        // Reset current slide
        if(slide_index < _current_slide_index) {
            _current_slide_index--;
        } else if(slide_index == _current_slide_index) {
            var n = Math.min(_current_slide_index, _storymap_data.slides.length - 1);            
            $('.slide').eq(n).click();
        }        
    });
    
    return false;
}

function slide_add() {
    var data = {
        date: "",
        text: {headline: "", text: ""},
        media: {url: "", credit: "", caption: ""}
    };

    var n = _storymap_data.slides.length; 
    
    // Add location data if not overview slide, else add type 
    if(n > 0) {
        data.location =  $.extend({}, _storymap_data.slides[n - 1].location || {
            lat: "41.850033",
            lon: "-87.6500523",
            zoom: 10,
            line: true,
            icon: "http://maps.gstatic.com/intl/en_us/mapfiles/ms/micons/blue-pushpin.png"
        });
    } else {
        data.type = "overview";
    }   
    
    // Add slide 
    _storymap_data.slides.push(data);
    storymap_dirty(1);

    // Add slide element if not adding overview slide
    if(n > 0) {
        var slide = slide_append_element(data);
            
        // Adjust slide container width
        var width = $('#slides').width() + slide.outerWidth(true);
        $('#slides').css('width', width+"px");
    
        // Scroll new slide into view
        $('.slides-container').scrollLeft(Math.max(0, width - $('#slides').parent().width()));
    } 
    
    // Select new slide
    $('.slide:last').click();
}   

function slides_load() {
    if(_slides_loaded || !_map || !_storymap_data) {
        return;
    }

    _slides_loaded = true;
    
    $('#slides').html();  
              
    for(var i = 1; i < _storymap_data.slides.length; i++) {
        slide_append_element(_storymap_data.slides[i]);
    }
    
    var width = 0;
    $('#slides .slide').each(function() {
        width += $(this).outerWidth(true);
    })   
    $('#slides').css('width', width + "px");
          
    if(_storymap_data.slides.length > 0) {
        $('.slide:first').click();  
    } else {
        slide_add();
    }   
    
    hide_progress();
}


function storymap_dirty(is_dirty) {
    _dirty = is_dirty;
    
    if(is_dirty) {
        $('#storymap_save').removeClass('disabled').addClass('btn-primary');
        $('#storymap_preview').addClass('disabled');
        $('#storymap_publish').addClass('disabled').removeClass('btn-primary');
    } else {
        $('#storymap_save').addClass('disabled').removeClass('btn-primary');
        $('#storymap_preview').removeClass('disabled');
        $('#storymap_publish').removeClass('disabled').addClass('btn-primary');
    }
}

function storymap_preview() {
    var preview_url = 'preview.html?url='
        + gdrive_storymap_draft_url(_storymap_info)
        + '&start_at_slide='+_current_slide_index;     
    window.open(preview_url, 'StoryMap Preview');
}

function storymap_saved_msg() {
    $('#saved span').html('Saved on '+format_dt(_storymap_info.draft_on));
    $('#saved').show();
}

function storymap_save() {
    show_progress('Saving StoryMap');
    
    gdrive_storymap_save_draft(_storymap_info, {storymap: _storymap_data}, function(error, file) {
        if(error) {
            show_error('Error saving storymap: '+error);
        } else {
            storymap_saved_msg();
            storymap_dirty(0);
            hide_progress();
       }
    });
}

function storymap_publish() {
    if(_dirty) {
        show_progress('Saving StoryMap');
        
        gdrive_storymap_save_draft(_storymap_info, {storymap: _storymap_data}, function(error, file) {
            if(error) {
                show_error('Error saving storymap: '+error);                
            } else {
                storymap_dirty(0);
                storymap_publish();
            }
        });
    } else {
        show_progress('Publishing StoryMap');
        
        gdrive_storymap_publish(_storymap_info, function(error, file) {
            if(error) {
                show_error('Error publishing StoryMap: '+ error);
            } else {
                hide_progress();
                
                var url = gdrive_storymap_published_url(_storymap_info);
                
                $('#embed_modal textarea').html('TODO:  show embed code with '+url);
                $('#embed_modal').modal('show');
            }
        });
    }
}

/*
TEMPORARILY COMMENTED OUT FOR DEVELOPMENT

window.onbeforeunload = function confirmExit() {
    if(_dirty) {
        return "You have attempted to leave this page."
            + "  You have unsaved changes, and your changes will be lost."
            + "  Are you sure you want to exit this page?";
    }
}
*/

function map_init() {
    var map = new google.maps.Map(document.getElementById('map'), {
        disableDoubleClickZoom: true,
        mapTypeControl: false,
        panControl: true,
        scrollwheel: false,
        streetViewControl: false,
        zoomControl: true,
        zoomControlOptions: {
            style: google.maps.ZoomControlStyle.SMALL
        },
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    
    // Make search box
    map_search_box = new google.maps.places.SearchBox(
        document.getElementById('map_search_input'));

    google.maps.event.addListener(map_search_box, 'places_changed', function() {
        var places = map_search_box.getPlaces();
        
        if(places.length) {
            var place = places[0];
            
            var loc_data = {
                name: place.name,
                lat: place.geometry.location.lat(),
                lon: place.geometry.location.lng()
            };
            
            location_mark(loc_data);
            location_set(_current_slide_index, loc_data);
         } 
    });
    
    _map = map;
    
    // LOAD SLIDES
    slides_load();
}

function storymap_init() {
    show_progress('Loading StoryMap');
    
    var params = parseQueryString();
    if(!params.id) {
        show_error('No StoryMap id detected!');
    } else {
        // Load storymap folder
        gdrive_storymap_load(params.id, function(error, storymapFolder) {
            if(error) {
                show_error('Error loading StoryMap: '+error);
            } else {
                _storymap_info = storymapFolder;
                storymap_saved_msg();
                               
                $('#title').html(_storymap_info.title);

                // Load draft
                gdrive_storymap_load_draft(storymapFolder, function(error, data) {
                    if(error) {
                        show_error('Error loading StoryMap data: '+error);
                    } else {
                        _storymap_data = data.storymap;
                    
                        // LOAD SLIDES
                        slides_load();
                    }
                });
            }
        });
    }
    
    // LOAD SLIDES
    slides_load();
}

function handle_onload() {  
    show_progress('Checking authorization');

    gdrive_check_auth(function(authorized) {
        if(authorized) {
            gapi.client.load('drive', 'v2', storymap_init);
        } else {
            show_error('You have not authorized StoryMap!');
        }
    });
}

$(function() {        
    $('.overview-container .slide').click(slide_select);
     
    $('#url').change(function(event) {  
        _storymap_data.slides[_current_slide_index].media['url'] = $(this).val().trim();
        storymap_dirty(1);
        slide_set_class(_current_slide_index)
    });
       
    $('#credit, #caption').change(function(event) { 
        var id = $(this).attr('id');
        _storymap_data.slides[_current_slide_index].media[id] = $(this).val().trim();
        storymap_dirty(1);
    });

    $('#headline').change(function() {
        var value = $(this).val().trim();
        _storymap_data.slides[_current_slide_index].text['headline'] = value;
        storymap_dirty(1);
        $('.slide-title').eq(_current_slide_index).html(value);
    });

    $('#text').wysihtml5({
        "stylesheets": ["{{ STATIC_URL }}/bootstrap-wysihtml5/lib/css/wysiwyg-color.css"],
        "font-styles": false,   // Font styling, e.g. h1, h2, etc. Default true
        "emphasis": true,       // Italics, bold, etc. Default true
        "lists": false,         // (Un)ordered lists, e.g. Bullets, Numbers. Default true
        "link": true,           // Button to insert a link. Default true
        "html": true,           // Button which allows you to edit the generated HTML. Default false
        "image": false,         // Button to insert an image. Default true,
        "color": false,         // Button to change color of font,
        customTemplates: {
            'emphasis': function(locale) { 
                return $('#wysihtml5_emphasis').html();
            },
            'link': function(locale) {
                return $('#wysihtml5_link').html();
            },
            'html': function(locale) {
                return $('#wysihtml5_html').html();
            }
        },
        'events': {
            'change': function() { 
                _storymap_data.slides[_current_slide_index].text['text'] = $('#text').val().trim();
                storymap_dirty(1);
             }
        }
    });
        
    $('#slide_add').click(slide_add);
    $('#storymap_save').click(storymap_save);
    $('#storymap_preview').click(storymap_preview); 
    $('#storymap_publish').click(storymap_publish);   
       
    var sortable_i = 0;
    var sortable_j = 0;
    
    $('#slides').sortable({
        axis: 'x',
        cursor: 'move',
        items: '.slide',
        start: function(event, ui) {
            sortable_i = $('.slide').index(ui.item);
        },
        stop: function(event, ui) {
            sortable_j = $('.slide').index(ui.item);
                                  
            if(sortable_i != sortable_j) {
                // Move slide data from i to j
                _storymap_data.slides.move(sortable_i, sortable_j);

                 // Adjust current slide index
                _current_slide_index = $('.slide').index($('.slide.selected'));                
                
                storymap_dirty(1);
            }             
        }
    });
});

google.maps.event.addDomListener(window, 'load', map_init);

</script>

<script type="text/javascript" src="https://apis.google.com/js/client.js?onload=handle_onload"></script>


{% endblock %}
