<!DOCTYPE html>
<html lang="en">
<head>
<title>StoryMap Preview</title>
<meta charset="utf-8">
<meta name="description" content="TimelineJS Embed">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-fullscreen" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<!-- build:css http://cdn.knightlab.com/libs/storymapjs/latest/css/storymap.css -->
<link rel="stylesheet" href="/build/css/storymap.css?v1">
<!-- endbuild -->
<!-- build:js http://cdn.knightlab.com/libs/storymapjs/latest/js/storymap.min.js -->
<script type="text/javascript" src="/build/js/storymap.js"></script>
<!-- endbuild -->
<style>
html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
</style>
<!-- HTML5 shim, for IE6-8 support of HTML elements-->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
<div id="storymap"></div>

<script>

function parseQuerystring() {
    var nvpair = {};
    var qs = window.location.search.replace('?', '');
    var pairs = qs.split('&');
    
    for(var i = 0; i < pairs.length; i++) {
        var p = pairs[i].split('=');
        nvpair[p[0]] = p[1];
    }
    return nvpair;
}

var params = parseQuerystring();
var url = decodeURIComponent(params['url']);

var options = {
    start_at_slide: 0
};

if(params.hasOwnProperty('start_at_slide')) {
    options.start_at_slide = parseInt(params.start_at_slide);
}

var storymap = new VCO.StoryMap('storymap', url, options);

window.onresize = function(event) {
    storymap.updateDisplay();
}

//storymap.goTo(2);

</script>
</body>
</html>