{% extends "_base.html" %}

{% block head %}
<!-- START Moment.js -->
<script src="{{ STATIC_URL }}/js/moment.min.js"></script>
<script src="{{ STATIC_URL }}/js/moment-timezone.min.js"></script>
<script src="{{ STATIC_URL }}/js/moment-timezone-data.js"></script>
<!-- END Moment.js -->
<script type="text/javascript" src="{{ STATIC_URL }}/js/tool.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}/js/gdrive.js"></script>
<link rel="stylesheet" type="text/css" href="{{ static_url }}/css/tool.css">
{% endblock %}

{% block content %}

{% include '_modals.html' %}

<section id="selector" class="container">
<div class="row">

<!-- START YADDA YADDA SECTION -->   
    <div class="span5 intro-panel">
        <div class="row">
            <div class="span5">
               <p><img src="{{ STATIC_URL }}/img/editor_screenshot.png"></p>
               <p>Making a StoryMap is <b>easy</b>.</p> 
               <ol>
               <li>Log in with your Google account. The StoryMaps you create will live on your Google Drive.</li>
               <li>Click the blue "new" button at the bottom right side of the page. You'll be asked to name your StoryMap. This name is just for you—no one else will see it.
               <li>After naming your StoryMap, you'll see the editor tool—it looks like the image above.</li>
               <li>The first slide is your "overview" or title slide. Give your StoryMap a title, and if you
               like, add some more text setting the stage for the story you want to tell. You can also embed images, videos and other resources.
               The map on the first screen of your StoryMap is automatically created for you, showing a view of all the places in your story.</li>
               <li>Click on "add slide" in the top right corner, and add a slide. You can fill in the headline and explanatory text,
                   and you can include media from other sources on the web, like Flickr, YouTube, Vimeo, and more. Add more slides to tell your story.</li>
               </ol>   
            </div>
        </div>
    </div>
<!-- END YADDA YADDA SECTION -->

<!-- START LOGIN PANEL -->
    <div id="login_panel" class="span7 hide">
        <div class="row">
            <div class="span7">
                <h3>Connect StoryMap to Google</h3>
                
                <p>The StoryMap editor uses your Google Drive account to store and serve the stories you create. 
                To get started, click on "Authorize" below. (If you're not already logged in to Google, you'll be
                prompted to log in.) You'll see a screen asking you to give StoryMap permission to use your Google Drive.
                You must click the 'accept' button to use this tool.
                </p>           
            </div>
        </div> 
        <div class="row">
            <div class="span7" style="text-align: center; margin: 20px 0">
                <button id="storymap_login" class="btn">Authorize</button>
            </div>         
        </div>               
        <div class="row">
            <div class="span7">
                <p>
                    Once you create your first StoryMap, you'll find a folder in your Google Drive named "KnightLabStoryMap". You can
                    actually go in there and fool around with the files StoryMap creates—but you shouldn't, unless you really know what
                    you're doing.
                </p>
            </div>         
        </div>               
    </div>
<!-- END LOGIN PANEL -->
 
<!-- START STORYMAP PANEL --> 
    <div id="storymap_panel" class="span7">
         <div class="row">
            <div class="login-info span7 pull-right">
                <span></span><br />
                <a href="http:///www.google.com/accounts/Logout" class="logout-link">Log out of your Google account</a>
            </div>
        </div>
        <div class="row">
            <div class="span7">
            <table id="storymap_table" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th colspan="3" >
                    <span style="line-height: 34px;">
                   StoryMaps
                   </span>
                    <span style="float: right;">
                        <div class="btn-group" data-toggle="buttons-radio">
                            <button type="button" class="btn btn-small active" onclick="storymap_display_list('title')">
                                Title <i class="icon-angle-up"></i></button>
                            <button type="button" class="btn btn-small" onclick="storymap_display_list('date')">
                                Date <i class="icon-angle-down"></i></button>
                        </div>                 
                    </span>
                    </th>
                    
                </tr>
            </thead>
                        
            <tbody>
            </tbody>
            
            </table>
            </div>
        </div>
        <div class="row control-row">
            <div class="span7">
                <button id="storymap_new" class="btn btn-primary">New</button>
            </div>        
        </div>
    </div>
<!-- END STORYMAP PANEL --> 

</div>
</section>
 
<script type="text/javascript">

var _storymap_folder = null;    // public folder

var _storymap_names = [];       // lowercase names
var _storymap_map = {};         // id => object
var _storymap_list = [];        // [object]


function storymap_new(event) {
    var name = $('#new_name').val().trim();
    
    if(!name.length) {
        $('#new_modal .error').html('You must enter a name');
        return false;
    }
    if(_storymap_names.indexOf(name.toLowerCase()) >= 0) {
        $('#new_modal .error').html('You must enter a unique name.');
        return false;
    }
         
    $('#new_modal').modal('hide');
  
    show_progress('Creating StoryMap');

    gdrive_storymap_create(name, _storymap_folder, function(error, folder) {
        if(error) {
            show_error('Error creating StoryMap: '+(error.message || error));
        } else {
            hide_progress();
            document.location.href = 'edit.html?id='+folder.id;
        }  
    });
}
  
function storymap_delete(event) {
    var elem = $(this).closest('tr');
    var id = elem.attr('id');
    var item = _storymap_map[id];
       
    show_confirm('Delete <strong>'+item.title+'</strong> StoryMap?', function() {
        show_progress('Deleting StoryMap');
        
        gdrive_file_delete(item.id, function(error, response) {
            hide_progress();
            if(error) {
                show_error('Error deleting StoryMap: '+(error.message || error));
            } else {
                _storymap_names.remove(item.title.toLowerCase());
                _storymap_list.remove(item);
                delete _storymap_map[id];
                                
                elem.remove();
            }       
        });
    });
}

function sortby_date(a, b) {
    adt = (a.draft_on > a.published_on) ? a.draft_on : a.published_on;
    bdt = (b.draft_on > b.published_on) ? b.draft_on : b.published_on;                
    return (adt > bdt) ? -1 : 1;
}

function sortby_title(a, b) {
    return (a.title.toUpperCase() < b.title.toUpperCase()) ? -1 : 1;
}

function storymap_display_list(sortby) {
    if(sortby == 'date') {        
        _storymap_list = _storymap_list.sort(sortby_date);
    } else {
        _storymap_list = _storymap_list.sort(sortby_title);
    }
    
    var elem = $('#storymap_table > tbody').html('');
    var html = "<tr><td span='2'>Click the blue “New” button to create your first storymap.</td></tr>";

    if (_storymap_list.length > 0) {
        html = '';
        
        for(var i = 0; i < _storymap_list.length; i++) {
            var item = _storymap_list[i];                
            var href = '/edit.html?id='+item.id;
               
            // Keep track of names for anti-duplication     
            _storymap_names.push(item.title.toLowerCase());
                 
            html += '<tr id="'+item.id+'">'   
                + '<td><a class="title" href="'+href+'">'+item.title+'</a>';

            if(item.published_on) {
                html += '<p class="modded">Published on '+format_dt(item.published_on)+'</p>';
            }  else {
                //html += '<span class="title-message">never published</span>';
            }
            if(item.draft_on > item.published_on) {
                html += '<p class="modded"><i class="icon-warning-sign"></i> Edited on '+format_dt(item.draft_on)+'</p>';
            } 
        
            html += '<td><a class="storymap-edit" href="'+href+'" title="Edit"><i class="icon-edit icon-large"></i></td>'
                + '<td><a class="storymap-delete" href="javascript:" title="Delete"><i class="icon-trash icon-large"></i></td>'
                + '</tr>';           
        }  
    }
    
    elem.append(html);

}

function storymap_list(file_list) {
    var elem = $('#storymap_table > tbody').html('');

    gdrive_storymap_list(_storymap_folder, function(error, storymap_map) {
        if(error) {
            show_error('Error listing StoryMaps: '+(error.message || error));
        } else {
            _storymap_map = storymap_map;
            
            for(var id in _storymap_map) {
                _storymap_list.push(_storymap_map[id]);
            }
            
            storymap_display_list('title');
            
            elem.find('.storymap-delete').click(storymap_delete);          
            hide_progress();
        }
    });    
}

function storymap_init() {
    show_progress('Getting StoryMap list');

    gdrive_about(function(error, info) {
        if(error) {
            show_error('Error getting user info: '+(error.message || error));
        } else {
            $('.login-info span').html('Logged in as '+info.name);
            
            gdrive_storymap_init(true, function(error, publicFolder) {
                if(error) {
                    show_error('Error initializing StoryMap: '+(error.message || error));
                } else {
                    _storymap_folder = publicFolder;     
                    storymap_list();
                 }         
            });    
        }  
    });
}

function handle_authorized(authorized) {
    if(authorized) {
        $('#login_panel').hide();
        $('#storymap_panel').show();
        gapi.client.load('drive', 'v2', storymap_init);
     
    } else {
        $('#storymap_panel').hide();
        $('#login_panel').show();
        hide_progress();        
    }
}

function handle_onload() {
    show_progress('Checking authorization');    
    gdrive_check_auth(handle_authorized);
}

$(function() {        
    $('#new_modal .btn-primary').bind('click', storymap_new);
  
    $('#storymap_new').click(function(event) {
        $('#new_modal .error').html('');
        $('#new_name').val('');
        
        $('#new_modal').modal('show').on('shown', function() { 
            $('#new_name').focus();
        });
    });

    $('#storymap_login').click(function() {
        gdrive_login(handle_authorized);
    }); 
});

</script>
<script type="text/javascript" src="https://apis.google.com/js/client.js?onload=handle_onload"></script>
{% endblock %}
